Repository googleapis/google-cloud-rust, pull requests merged in 2025-08, with the labels that each got.

#2805 impl(storage): fine grained known checksum tracking
  src/storage/src/storage/checksum.rs
  src/storage/src/storage/perform_upload.rs
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/upload_object.rs
Labels: api: storage

#2812 fix(storage): percent-encode name once on uploads
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
  src/storage/src/storage/perform_upload.rs
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/perform_upload/unbuffered.rs
Labels: api: storage

#2830 impl(storage): make `ChecksumEngine` public
  src/storage/src/lib.rs
  src/storage/src/storage.rs
  src/storage/src/storage/checksum.rs
Labels: api: storage

#2850 cleanup(storage): remove stale `TODO`
  src/storage/src/storage/perform_upload.rs
Labels: api: storage

#2841 impl(storage-w1r3): more details on each sample
  src/w1r3/src/main.rs
Labels: samples

#2872 fix(storage): heed custom polling policies
  .github/workflows/generator_dart.yaml
  .github/workflows/sdk.yaml
  src/storage/src/generated/gapic_control/transport.rs
Labels: api: storage

#2873 fix(storage): fewer errors abort uploads
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/storage/perform_upload.rs
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/perform_upload/unbuffered.rs
Labels: api: storage

#2876 test(storage): resumable uploads with unknown size
  src/storage/src/storage/perform_upload/unbuffered/resumable_tests.rs
Labels: api: storage

#2880 docs(storage): more examples for buckets
  Cargo.lock
  src/storage/examples/Cargo.toml
  src/storage/examples/src/change_default_storage_class.rs
  src/storage/examples/src/create_bucket.rs
  src/storage/examples/src/create_bucket_class_location.rs
  src/storage/examples/src/create_bucket_dual_region.rs
  src/storage/examples/src/create_bucket_hierarchical_namespace.rs
  src/storage/examples/src/delete_bucket.rs
  src/storage/examples/src/get_bucket_metadata.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/tests/integration.rs
Labels: api: storage

#2883 docs(storage): bucket ACL examples
  src/storage/examples/src/add_bucket_owner.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/src/print_bucket_acl.rs
  src/storage/examples/src/print_bucket_acl_for_user.rs
  src/storage/examples/src/remove_bucket_owner.rs
Labels: api: storage

#2861 fix(storage): update doc comment to match rust style
  src/storage/src/storage/read_object.rs
Labels: api: storage

#2899 cleanup(storage): normalize example function names
  src/storage/examples/src/add_bucket_owner.rs
  src/storage/examples/src/change_default_storage_class.rs
  src/storage/examples/src/create_bucket.rs
  src/storage/examples/src/create_bucket_class_location.rs
  src/storage/examples/src/create_bucket_dual_region.rs
  src/storage/examples/src/create_bucket_hierarchical_namespace.rs
  src/storage/examples/src/delete_bucket.rs
  src/storage/examples/src/get_bucket_metadata.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/src/list_buckets.rs
  src/storage/examples/src/print_bucket_acl.rs
  src/storage/examples/src/print_bucket_acl_for_user.rs
  src/storage/examples/src/remove_bucket_owner.rs
Labels: api: storage

#2900 docs(storage): critical object examples
  Cargo.lock
  src/storage/examples/Cargo.toml
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/delete_file.rs
  src/storage/examples/src/objects/list_files.rs
  src/storage/examples/src/objects/list_files_with_prefix.rs
  src/storage/examples/src/objects/set_metadata.rs
  src/storage/examples/src/objects/stream_file_download.rs
  src/storage/examples/src/objects/stream_file_upload.rs
  src/storage/examples/tests/integration.rs
Labels: api: storage

#2902 doc(storage): document `ChecksumMismatch`
  src/storage/src/error.rs
Labels: api: storage

#2934 cleanup(storage): no client creation in doc samples
  src/storage/src/control/client.rs
  src/storage/src/storage/client.rs
  src/storage/src/storage/read_object.rs
Labels: samples, api: storage

#3005 refactor(storage): split single-shot tests
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/perform_upload/buffered/single_shot_tests.rs
  src/storage/src/storage/perform_upload/unbuffered.rs
  src/storage/src/storage/perform_upload/unbuffered/single_shot_tests.rs
Labels: api: storage

#3029 docs(storage): website configuration examples
  src/storage/examples/src/define_bucket_website_configuration.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/src/print_bucket_website_configuration.rs
Labels: api: storage

#3124 feat(storage): better retry policy defaults
  src/storage/src/control/client.rs
  src/storage/src/retry_policy.rs
Labels: api: storage

#3034 docs(storage): add versioning examples
  src/storage/examples/src/disable_versioning.rs
  src/storage/examples/src/enable_versioning.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/src/view_versioning_status.rs
Labels: api: storage

#3132 fix(storage): correct mixin service name
  .github/workflows/generator_dart.yaml
  .github/workflows/sdk.yaml
  src/storage/src/generated/gapic_control/transport.rs
Labels: api: storage

#3127 docs(storage): add download byte range sample
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/download_byte_range.rs
Labels: samples, api: storage

#3141 docs(storage): examples for CORS
  src/storage/examples/src/buckets.rs
  src/storage/examples/src/buckets/cors_configuration.rs
  src/storage/examples/src/buckets/remove_cors_configuration.rs
  src/storage/examples/src/lib.rs
Labels: api: storage

#3149 docs(storage): bucket label examples
  src/storage/examples/src/buckets.rs
  src/storage/examples/src/buckets/add_bucket_label.rs
  src/storage/examples/src/buckets/remove_bucket_label.rs
  src/storage/examples/src/lib.rs
Labels: api: storage

#3155 feat(storage): request types for mocking
  src/storage/src/generated/gapic/.sidekick.toml
  src/storage/src/generated/gapic/model.rs
Labels: api: storage

#3153 refactor(storage): Checksum as an option
  src/storage/src/storage/perform_upload.rs
  src/storage/src/storage/read_object.rs
  src/storage/src/storage/request_options.rs
  src/storage/src/storage/write_object.rs
Labels: api: storage

#3154 impl(storage): introduce stub interface
  src/gax-internal/src/unimplemented.rs
  src/storage/src/model_ext.rs
  src/storage/src/storage.rs
  src/storage/src/storage/stub.rs
Labels: api: storage

#3158 impl(storage): use stub for read_object
  src/storage/src/storage.rs
  src/storage/src/storage/read_object.rs
  src/storage/src/storage/stub.rs
  src/storage/src/storage/transport.rs
Labels: api: storage

#3161 refactor(storage): use stub for write_object
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/perform_upload/buffered/resumable_tests.rs
  src/storage/src/storage/perform_upload/tests.rs
  src/storage/src/storage/perform_upload/unbuffered/single_shot_tests.rs
  src/storage/src/storage/transport.rs
  src/storage/src/storage/write_object.rs
Labels: api: storage

#3165 docs(storage): create bucket with object retention
  src/storage/examples/src/buckets.rs
  src/storage/examples/src/buckets/create_bucket_with_object_retention.rs
  src/storage/examples/src/lib.rs
Labels: api: storage

#3162 docs(storage): bucket KMS examples
  .gcb/integration.yaml
  doc/contributor/howto-guide-set-up-development-environment.md
  src/storage/examples/src/buckets.rs
  src/storage/examples/src/buckets/delete_bucket_default_kms_key.rs
  src/storage/examples/src/buckets/get_bucket_default_kms_key.rs
  src/storage/examples/src/buckets/set_bucket_default_kms_key.rs
  src/storage/examples/src/lib.rs
Labels: api: storage

#3167 refactor(storage): client is templated on stubs
  src/storage/src/model_ext.rs
  src/storage/src/storage/client.rs
  src/storage/src/storage/read_object.rs
  src/storage/src/storage/request_options.rs
  src/storage/src/storage/write_object.rs
Labels: api: storage

#3170 docs(storage): implement requester pays examples
  src/storage/examples/src/buckets.rs
  src/storage/examples/src/buckets/disable_requester_pays.rs
  src/storage/examples/src/buckets/enable_requester_pays.rs
  src/storage/examples/src/buckets/get_requester_pays_status.rs
  src/storage/examples/src/lib.rs
Labels: api: storage

#3126 feat(pubsub): generate pubsub admin APIs
  Cargo.lock
  src/pubsub/Cargo.toml
  src/pubsub/src/generated.rs
  src/pubsub/src/generated/gapic/.sidekick.toml
  src/pubsub/src/generated/gapic/builder.rs
  src/pubsub/src/generated/gapic/client.rs
  src/pubsub/src/generated/gapic/mod.rs
  src/pubsub/src/generated/gapic/model.rs
  src/pubsub/src/generated/gapic/stub.rs
  src/pubsub/src/generated/gapic/stub/dynamic.rs
  src/pubsub/src/generated/gapic/tracing.rs
  src/pubsub/src/generated/gapic/transport.rs
  src/pubsub/src/lib.rs
Labels: api: pubsub

#3174 docs(storage): documentation for write_object()
  src/storage/src/storage/client.rs
  src/storage/src/storage/write_object.rs
Labels: api: storage

#3177 docs(storage): add `compose_file` example
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/compose_file.rs
Labels: api: storage

#3180 docs(storage): hold examples
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/release_event_based_hold.rs
  src/storage/examples/src/objects/release_temporary_hold.rs
  src/storage/examples/src/objects/set_event_based_hold.rs
  src/storage/examples/src/objects/set_temporary_hold.rs
Labels: api: storage

#3181 cleanup: remove extra sample run
  src/storage/examples/src/lib.rs
Labels: samples

#3151 docs(storage): add kms key upload example
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/upload_with_kms_key.rs
Labels: api: storage
