Repository googleapis/google-cloud-rust, pull requests merged in 2025-05, with the labels that each got.

#1830 docs: user guide for paginated operations
  Cargo.lock
  guide/samples/Cargo.toml
  guide/samples/src/lib.rs
  guide/samples/src/pagination.rs
  guide/samples/tests/driver.rs
  guide/src/SUMMARY.md
  guide/src/pagination.md
Labels: automerge

#1978 cleanup(storage): load service config
  src/storage-control/src/generated/gapic/.sidekick.toml
  src/storage-control/src/generated/gapic/client.rs
Labels: api: storage

#1914 test(bigquery): add integration tests for dataset admin operations
  Cargo.lock
  src/integration-tests/Cargo.toml
  src/integration-tests/src/bigquery.rs
  src/integration-tests/src/lib.rs
  src/integration-tests/tests/driver.rs
Labels: api: bigquery

#2018 fix(sql/v1): add crate to top-level workspace
  Cargo.lock
  Cargo.toml
  src/generated/cloud/sql/v1/src/builder.rs
  src/generated/cloud/sql/v1/src/client.rs
  src/generated/cloud/sql/v1/src/lib.rs
  src/generated/cloud/sql/v1/src/model.rs
  src/generated/cloud/sql/v1/src/stub.rs
  src/generated/cloud/sql/v1/src/stub/dynamic.rs
  src/generated/cloud/sql/v1/src/tracing.rs
  src/generated/cloud/sql/v1/src/transport.rs
Labels: api: cloudsql

#2029 docs(gax): `Paginator` and `ItemPaginator` samples
  src/gax/src/lib.rs
  src/gax/src/paginator.rs
Labels: samples

#2032 impl(storage): bootstrap media client
  Cargo.lock
  Cargo.toml
  src/gax-internal/src/http.rs
  src/integration-tests/Cargo.toml
  src/integration-tests/src/error_details.rs
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
  src/storage/Cargo.toml
  src/storage/README.md
  src/storage/src/client.rs
  src/storage/src/lib.rs
Labels: api: storage

#2069 cleanup(storage): future-proof CreateFolder API
  src/integration-tests/src/storage.rs
  src/storage-control/src/client.rs
Labels: api: storage

#2086 impl(storage): enable requests for media RPCs
  src/storage-control/src/generated/gapic/.sidekick.toml
  src/storage-control/src/generated/gapic/model.rs
Labels: api: storage

#2101 cleanup(firestore): use workspace dependencies
  src/firestore/Cargo.toml
Labels: api: firestore

#2127 impl(storage): add simple fields to the v1::Object type
  src/storage/src/client.rs
Labels: api: storage

#2153 impl(storage): add acl field to v1::Object
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/client.rs
Labels: api: storage

#2193 impl(storage): add owner, metadata, and encryption fields to v1::Object
  src/storage/src/client.rs
Labels: api: storage

#2230 impl(storage): add checksum fields to v1::Object
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/client.rs
Labels: api: storage

#2243 impl(storage): add retention field to v1::Object
  src/storage/src/client.rs
Labels: api: storage

#2263 fix(storage)!: update read_object to return a builder
  src/integration-tests/src/storage.rs
  src/storage/src/client.rs
Labels: api: storage

#2272 impl(storage): cleanup fully qualified Option, Into, From and String
  src/storage/src/client.rs
Labels: api: storage

#2297 test(storage): add simple read object test
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/client.rs
Labels: api: storage

#2298 test(storage): add test for bad bucket string and rename helper
  src/storage/src/client.rs
Labels: api: storage

#2300 feat(storage): support additional query parameters in read_object
  src/storage/src/client.rs
Labels: api: storage

#2303 test(storage): add tests for crc32c deserialization
  src/storage/src/client.rs
Labels: api: storage

#2306 impl(storage): return unimplemented error when unused param is set
  src/storage/src/client.rs
Labels: api: storage

#2308 test(storage): add test for read_object with error credentials
  src/storage/src/client.rs
Labels: api: storage
