Repository googleapis/google-cloud-rust, pull requests merged in 2025-02, with the labels that each got.

#933 feat(servicemanagement/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/api/servicemanagement/v1/.repo-metadata.json
  src/generated/api/servicemanagement/v1/.sidekick.toml
  src/generated/api/servicemanagement/v1/Cargo.toml
  src/generated/api/servicemanagement/v1/README.md
  src/generated/api/servicemanagement/v1/src/builders.rs
  src/generated/api/servicemanagement/v1/src/client.rs
  src/generated/api/servicemanagement/v1/src/lib.rs
  src/generated/api/servicemanagement/v1/src/model.rs
  src/generated/api/servicemanagement/v1/src/stubs.rs
  src/generated/api/servicemanagement/v1/src/stubs/dynamic.rs
  src/generated/api/servicemanagement/v1/src/tracing.rs
  src/generated/api/servicemanagement/v1/src/transport.rs
Labels: api: servicemanagement

#934 feat(kms/inventory/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/kms/inventory/v1/.repo-metadata.json
  src/generated/cloud/kms/inventory/v1/.sidekick.toml
  src/generated/cloud/kms/inventory/v1/Cargo.toml
  src/generated/cloud/kms/inventory/v1/README.md
  src/generated/cloud/kms/inventory/v1/src/builders.rs
  src/generated/cloud/kms/inventory/v1/src/client.rs
  src/generated/cloud/kms/inventory/v1/src/lib.rs
  src/generated/cloud/kms/inventory/v1/src/model.rs
  src/generated/cloud/kms/inventory/v1/src/stubs.rs
  src/generated/cloud/kms/inventory/v1/src/stubs/dynamic.rs
  src/generated/cloud/kms/inventory/v1/src/tracing.rs
  src/generated/cloud/kms/inventory/v1/src/transport.rs
Labels: api: cloudkms

#943 feat(artifactregistry/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/devtools/artifactregistry/v1/.repo-metadata.json
  src/generated/devtools/artifactregistry/v1/.sidekick.toml
  src/generated/devtools/artifactregistry/v1/Cargo.toml
  src/generated/devtools/artifactregistry/v1/README.md
  src/generated/devtools/artifactregistry/v1/src/builders.rs
  src/generated/devtools/artifactregistry/v1/src/client.rs
  src/generated/devtools/artifactregistry/v1/src/lib.rs
  src/generated/devtools/artifactregistry/v1/src/model.rs
  src/generated/devtools/artifactregistry/v1/src/stubs.rs
  src/generated/devtools/artifactregistry/v1/src/stubs/dynamic.rs
  src/generated/devtools/artifactregistry/v1/src/tracing.rs
  src/generated/devtools/artifactregistry/v1/src/transport.rs
Labels: api: artifactregistry

#949 feat(apigateway/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/apigateway/v1/.repo-metadata.json
  src/generated/cloud/apigateway/v1/.sidekick.toml
  src/generated/cloud/apigateway/v1/Cargo.toml
  src/generated/cloud/apigateway/v1/README.md
  src/generated/cloud/apigateway/v1/src/builders.rs
  src/generated/cloud/apigateway/v1/src/client.rs
  src/generated/cloud/apigateway/v1/src/lib.rs
  src/generated/cloud/apigateway/v1/src/model.rs
  src/generated/cloud/apigateway/v1/src/stubs.rs
  src/generated/cloud/apigateway/v1/src/stubs/dynamic.rs
  src/generated/cloud/apigateway/v1/src/tracing.rs
  src/generated/cloud/apigateway/v1/src/transport.rs
Labels: api: apigateway

#955 feat(apigeeconnect/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/apigeeconnect/v1/.repo-metadata.json
  src/generated/cloud/apigeeconnect/v1/.sidekick.toml
  src/generated/cloud/apigeeconnect/v1/Cargo.toml
  src/generated/cloud/apigeeconnect/v1/README.md
  src/generated/cloud/apigeeconnect/v1/src/builders.rs
  src/generated/cloud/apigeeconnect/v1/src/client.rs
  src/generated/cloud/apigeeconnect/v1/src/lib.rs
  src/generated/cloud/apigeeconnect/v1/src/model.rs
  src/generated/cloud/apigeeconnect/v1/src/stubs.rs
  src/generated/cloud/apigeeconnect/v1/src/stubs/dynamic.rs
  src/generated/cloud/apigeeconnect/v1/src/tracing.rs
  src/generated/cloud/apigeeconnect/v1/src/transport.rs
Labels: api: apigeeconnect

#957 feat(assuredworkloads/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/assuredworkloads/v1/.repo-metadata.json
  src/generated/cloud/assuredworkloads/v1/.sidekick.toml
  src/generated/cloud/assuredworkloads/v1/Cargo.toml
  src/generated/cloud/assuredworkloads/v1/README.md
  src/generated/cloud/assuredworkloads/v1/src/builders.rs
  src/generated/cloud/assuredworkloads/v1/src/client.rs
  src/generated/cloud/assuredworkloads/v1/src/lib.rs
  src/generated/cloud/assuredworkloads/v1/src/model.rs
  src/generated/cloud/assuredworkloads/v1/src/stubs.rs
  src/generated/cloud/assuredworkloads/v1/src/stubs/dynamic.rs
  src/generated/cloud/assuredworkloads/v1/src/tracing.rs
  src/generated/cloud/assuredworkloads/v1/src/transport.rs
Labels: api: assuredworkloads

#935 feat(logging/type): generate library
  Cargo.lock
  Cargo.toml
  src/generated/logging/type/.sidekick.toml
  src/generated/logging/type/Cargo.toml
  src/generated/logging/type/README.md
  src/generated/logging/type/src/lib.rs
  src/generated/logging/type/src/model.rs
Labels: api: logging

#973 feat(recaptchaenterprise/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/recaptchaenterprise/v1/.repo-metadata.json
  src/generated/cloud/recaptchaenterprise/v1/.sidekick.toml
  src/generated/cloud/recaptchaenterprise/v1/Cargo.toml
  src/generated/cloud/recaptchaenterprise/v1/README.md
  src/generated/cloud/recaptchaenterprise/v1/src/builders.rs
  src/generated/cloud/recaptchaenterprise/v1/src/client.rs
  src/generated/cloud/recaptchaenterprise/v1/src/lib.rs
  src/generated/cloud/recaptchaenterprise/v1/src/model.rs
  src/generated/cloud/recaptchaenterprise/v1/src/stubs.rs
  src/generated/cloud/recaptchaenterprise/v1/src/stubs/dynamic.rs
  src/generated/cloud/recaptchaenterprise/v1/src/tracing.rs
  src/generated/cloud/recaptchaenterprise/v1/src/transport.rs
Labels: api: recaptchaenterprise

#980 feat(datastore/admin/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/datastore/admin/v1/.repo-metadata.json
  src/generated/datastore/admin/v1/.sidekick.toml
  src/generated/datastore/admin/v1/Cargo.toml
  src/generated/datastore/admin/v1/README.md
  src/generated/datastore/admin/v1/src/builders.rs
  src/generated/datastore/admin/v1/src/client.rs
  src/generated/datastore/admin/v1/src/lib.rs
  src/generated/datastore/admin/v1/src/model.rs
  src/generated/datastore/admin/v1/src/stubs.rs
  src/generated/datastore/admin/v1/src/stubs/dynamic.rs
  src/generated/datastore/admin/v1/src/tracing.rs
  src/generated/datastore/admin/v1/src/transport.rs
Labels: api: datastore

#992 feat(servicecontrol/v1): generate library
  .sidekick.toml
  Cargo.lock
  Cargo.toml
  src/generated/api/servicecontrol/v1/.repo-metadata.json
  src/generated/api/servicecontrol/v1/.sidekick.toml
  src/generated/api/servicecontrol/v1/Cargo.toml
  src/generated/api/servicecontrol/v1/README.md
  src/generated/api/servicecontrol/v1/src/builders.rs
  src/generated/api/servicecontrol/v1/src/client.rs
  src/generated/api/servicecontrol/v1/src/lib.rs
  src/generated/api/servicecontrol/v1/src/model.rs
  src/generated/api/servicecontrol/v1/src/stubs.rs
  src/generated/api/servicecontrol/v1/src/stubs/dynamic.rs
  src/generated/api/servicecontrol/v1/src/tracing.rs
  src/generated/api/servicecontrol/v1/src/transport.rs
Labels: api: servicecontrol

#994 feat(datacatalog/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/datacatalog/v1/.repo-metadata.json
  src/generated/cloud/datacatalog/v1/.sidekick.toml
  src/generated/cloud/datacatalog/v1/Cargo.toml
  src/generated/cloud/datacatalog/v1/README.md
  src/generated/cloud/datacatalog/v1/src/builders.rs
  src/generated/cloud/datacatalog/v1/src/client.rs
  src/generated/cloud/datacatalog/v1/src/lib.rs
  src/generated/cloud/datacatalog/v1/src/model.rs
  src/generated/cloud/datacatalog/v1/src/stubs.rs
  src/generated/cloud/datacatalog/v1/src/stubs/dynamic.rs
  src/generated/cloud/datacatalog/v1/src/tracing.rs
  src/generated/cloud/datacatalog/v1/src/transport.rs
Labels: api: datacatalog

#998 feat(videointelligence/v1): generate libraries
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/videointelligence/v1/.repo-metadata.json
  src/generated/cloud/videointelligence/v1/.sidekick.toml
  src/generated/cloud/videointelligence/v1/Cargo.toml
  src/generated/cloud/videointelligence/v1/README.md
  src/generated/cloud/videointelligence/v1/src/builders.rs
  src/generated/cloud/videointelligence/v1/src/client.rs
  src/generated/cloud/videointelligence/v1/src/lib.rs
  src/generated/cloud/videointelligence/v1/src/model.rs
  src/generated/cloud/videointelligence/v1/src/stubs.rs
  src/generated/cloud/videointelligence/v1/src/stubs/dynamic.rs
  src/generated/cloud/videointelligence/v1/src/tracing.rs
  src/generated/cloud/videointelligence/v1/src/transport.rs
Labels: api: videointelligence

#996 feat(networkmanagement/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/networkmanagement/v1/.repo-metadata.json
  src/generated/cloud/networkmanagement/v1/.sidekick.toml
  src/generated/cloud/networkmanagement/v1/Cargo.toml
  src/generated/cloud/networkmanagement/v1/README.md
  src/generated/cloud/networkmanagement/v1/src/builders.rs
  src/generated/cloud/networkmanagement/v1/src/client.rs
  src/generated/cloud/networkmanagement/v1/src/lib.rs
  src/generated/cloud/networkmanagement/v1/src/model.rs
  src/generated/cloud/networkmanagement/v1/src/stubs.rs
  src/generated/cloud/networkmanagement/v1/src/stubs/dynamic.rs
  src/generated/cloud/networkmanagement/v1/src/tracing.rs
  src/generated/cloud/networkmanagement/v1/src/transport.rs
Labels: api: networkmanagement

#1000 feat(vision/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/vision/v1/.repo-metadata.json
  src/generated/cloud/vision/v1/.sidekick.toml
  src/generated/cloud/vision/v1/Cargo.toml
  src/generated/cloud/vision/v1/README.md
  src/generated/cloud/vision/v1/src/builders.rs
  src/generated/cloud/vision/v1/src/client.rs
  src/generated/cloud/vision/v1/src/lib.rs
  src/generated/cloud/vision/v1/src/model.rs
  src/generated/cloud/vision/v1/src/stubs.rs
  src/generated/cloud/vision/v1/src/stubs/dynamic.rs
  src/generated/cloud/vision/v1/src/tracing.rs
  src/generated/cloud/vision/v1/src/transport.rs
Labels: api: vision

#1002 feat(servicecontrol/v2): generate library
  .sidekick.toml
  Cargo.lock
  Cargo.toml
  src/generated/api/servicecontrol/v2/.repo-metadata.json
  src/generated/api/servicecontrol/v2/.sidekick.toml
  src/generated/api/servicecontrol/v2/Cargo.toml
  src/generated/api/servicecontrol/v2/README.md
  src/generated/api/servicecontrol/v2/src/builders.rs
  src/generated/api/servicecontrol/v2/src/client.rs
  src/generated/api/servicecontrol/v2/src/lib.rs
  src/generated/api/servicecontrol/v2/src/model.rs
  src/generated/api/servicecontrol/v2/src/stubs.rs
  src/generated/api/servicecontrol/v2/src/stubs/dynamic.rs
  src/generated/api/servicecontrol/v2/src/tracing.rs
  src/generated/api/servicecontrol/v2/src/transport.rs
Labels: api: servicecontrol

#1006 feat(bigquery/connection/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/bigquery/connection/v1/.repo-metadata.json
  src/generated/cloud/bigquery/connection/v1/.sidekick.toml
  src/generated/cloud/bigquery/connection/v1/Cargo.toml
  src/generated/cloud/bigquery/connection/v1/README.md
  src/generated/cloud/bigquery/connection/v1/src/builders.rs
  src/generated/cloud/bigquery/connection/v1/src/client.rs
  src/generated/cloud/bigquery/connection/v1/src/lib.rs
  src/generated/cloud/bigquery/connection/v1/src/model.rs
  src/generated/cloud/bigquery/connection/v1/src/stubs.rs
  src/generated/cloud/bigquery/connection/v1/src/stubs/dynamic.rs
  src/generated/cloud/bigquery/connection/v1/src/tracing.rs
  src/generated/cloud/bigquery/connection/v1/src/transport.rs
Labels: api: bigquery

#1024 feat(datafusion/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/datafusion/v1/.repo-metadata.json
  src/generated/cloud/datafusion/v1/.sidekick.toml
  src/generated/cloud/datafusion/v1/Cargo.toml
  src/generated/cloud/datafusion/v1/README.md
  src/generated/cloud/datafusion/v1/src/builders.rs
  src/generated/cloud/datafusion/v1/src/client.rs
  src/generated/cloud/datafusion/v1/src/lib.rs
  src/generated/cloud/datafusion/v1/src/model.rs
  src/generated/cloud/datafusion/v1/src/stubs.rs
  src/generated/cloud/datafusion/v1/src/stubs/dynamic.rs
  src/generated/cloud/datafusion/v1/src/tracing.rs
  src/generated/cloud/datafusion/v1/src/transport.rs
Labels: api: datafusion

#1017 feat(orgpolicy/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/orgpolicy/v2/.repo-metadata.json
  src/generated/cloud/orgpolicy/v2/.sidekick.toml
  src/generated/cloud/orgpolicy/v2/Cargo.toml
  src/generated/cloud/orgpolicy/v2/README.md
  src/generated/cloud/orgpolicy/v2/src/builders.rs
  src/generated/cloud/orgpolicy/v2/src/client.rs
  src/generated/cloud/orgpolicy/v2/src/lib.rs
  src/generated/cloud/orgpolicy/v2/src/model.rs
  src/generated/cloud/orgpolicy/v2/src/stubs.rs
  src/generated/cloud/orgpolicy/v2/src/stubs/dynamic.rs
  src/generated/cloud/orgpolicy/v2/src/tracing.rs
  src/generated/cloud/orgpolicy/v2/src/transport.rs
Labels: api: orgpolicy

#1022 feat(bigquery/datatransfer/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/bigquery/datatransfer/v1/.repo-metadata.json
  src/generated/cloud/bigquery/datatransfer/v1/.sidekick.toml
  src/generated/cloud/bigquery/datatransfer/v1/Cargo.toml
  src/generated/cloud/bigquery/datatransfer/v1/README.md
  src/generated/cloud/bigquery/datatransfer/v1/src/builders.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/client.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/lib.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/model.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/stubs.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/stubs/dynamic.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/tracing.rs
  src/generated/cloud/bigquery/datatransfer/v1/src/transport.rs
Labels: api: bigquery

#1027 feat(accesscontextmanager/type): generate library
  Cargo.lock
  Cargo.toml
  src/generated/identity/accesscontextmanager/type/.sidekick.toml
  src/generated/identity/accesscontextmanager/type/Cargo.toml
  src/generated/identity/accesscontextmanager/type/README.md
  src/generated/identity/accesscontextmanager/type/src/lib.rs
  src/generated/identity/accesscontextmanager/type/src/model.rs
Labels: api: accesscontextmanager

#1028 feat(recommender/logging/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/recommender/logging/v1/.sidekick.toml
  src/generated/cloud/recommender/logging/v1/Cargo.toml
  src/generated/cloud/recommender/logging/v1/README.md
  src/generated/cloud/recommender/logging/v1/src/lib.rs
  src/generated/cloud/recommender/logging/v1/src/model.rs
Labels: api: recommender

#1043 feat(bigquery/reservation/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/bigquery/reservation/v1/.repo-metadata.json
  src/generated/cloud/bigquery/reservation/v1/.sidekick.toml
  src/generated/cloud/bigquery/reservation/v1/Cargo.toml
  src/generated/cloud/bigquery/reservation/v1/README.md
  src/generated/cloud/bigquery/reservation/v1/src/builders.rs
  src/generated/cloud/bigquery/reservation/v1/src/client.rs
  src/generated/cloud/bigquery/reservation/v1/src/lib.rs
  src/generated/cloud/bigquery/reservation/v1/src/model.rs
  src/generated/cloud/bigquery/reservation/v1/src/stubs.rs
  src/generated/cloud/bigquery/reservation/v1/src/stubs/dynamic.rs
  src/generated/cloud/bigquery/reservation/v1/src/tracing.rs
  src/generated/cloud/bigquery/reservation/v1/src/transport.rs
Labels: api: bigquery

#1044 feat(appengine/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/appengine/v1/.repo-metadata.json
  src/generated/appengine/v1/.sidekick.toml
  src/generated/appengine/v1/Cargo.toml
  src/generated/appengine/v1/README.md
  src/generated/appengine/v1/src/builders.rs
  src/generated/appengine/v1/src/client.rs
  src/generated/appengine/v1/src/lib.rs
  src/generated/appengine/v1/src/model.rs
  src/generated/appengine/v1/src/stubs.rs
  src/generated/appengine/v1/src/stubs/dynamic.rs
  src/generated/appengine/v1/src/tracing.rs
  src/generated/appengine/v1/src/transport.rs
Labels: api: appengine

#1046 feat(eventarc/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/eventarc/v1/.repo-metadata.json
  src/generated/cloud/eventarc/v1/.sidekick.toml
  src/generated/cloud/eventarc/v1/Cargo.toml
  src/generated/cloud/eventarc/v1/README.md
  src/generated/cloud/eventarc/v1/src/builders.rs
  src/generated/cloud/eventarc/v1/src/client.rs
  src/generated/cloud/eventarc/v1/src/lib.rs
  src/generated/cloud/eventarc/v1/src/model.rs
  src/generated/cloud/eventarc/v1/src/stubs.rs
  src/generated/cloud/eventarc/v1/src/stubs/dynamic.rs
  src/generated/cloud/eventarc/v1/src/tracing.rs
  src/generated/cloud/eventarc/v1/src/transport.rs
Labels: api: eventarc

#1060 feat(redis/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/redis/v1/.repo-metadata.json
  src/generated/cloud/redis/v1/.sidekick.toml
  src/generated/cloud/redis/v1/Cargo.toml
  src/generated/cloud/redis/v1/README.md
  src/generated/cloud/redis/v1/src/builders.rs
  src/generated/cloud/redis/v1/src/client.rs
  src/generated/cloud/redis/v1/src/lib.rs
  src/generated/cloud/redis/v1/src/model.rs
  src/generated/cloud/redis/v1/src/stubs.rs
  src/generated/cloud/redis/v1/src/stubs/dynamic.rs
  src/generated/cloud/redis/v1/src/tracing.rs
  src/generated/cloud/redis/v1/src/transport.rs
Labels: api: redis

#1056 feat(deploy/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/deploy/v1/.repo-metadata.json
  src/generated/cloud/deploy/v1/.sidekick.toml
  src/generated/cloud/deploy/v1/Cargo.toml
  src/generated/cloud/deploy/v1/README.md
  src/generated/cloud/deploy/v1/src/builders.rs
  src/generated/cloud/deploy/v1/src/client.rs
  src/generated/cloud/deploy/v1/src/lib.rs
  src/generated/cloud/deploy/v1/src/model.rs
  src/generated/cloud/deploy/v1/src/stubs.rs
  src/generated/cloud/deploy/v1/src/stubs/dynamic.rs
  src/generated/cloud/deploy/v1/src/tracing.rs
  src/generated/cloud/deploy/v1/src/transport.rs
Labels: api: clouddeploy

#1069 feat(notebooks/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/notebooks/v2/.repo-metadata.json
  src/generated/cloud/notebooks/v2/.sidekick.toml
  src/generated/cloud/notebooks/v2/Cargo.toml
  src/generated/cloud/notebooks/v2/README.md
  src/generated/cloud/notebooks/v2/src/builders.rs
  src/generated/cloud/notebooks/v2/src/client.rs
  src/generated/cloud/notebooks/v2/src/lib.rs
  src/generated/cloud/notebooks/v2/src/model.rs
  src/generated/cloud/notebooks/v2/src/stubs.rs
  src/generated/cloud/notebooks/v2/src/stubs/dynamic.rs
  src/generated/cloud/notebooks/v2/src/tracing.rs
  src/generated/cloud/notebooks/v2/src/transport.rs
Labels: api: notebooks

#1086 feat(video/transcoder/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/video/transcoder/v1/.repo-metadata.json
  src/generated/cloud/video/transcoder/v1/.sidekick.toml
  src/generated/cloud/video/transcoder/v1/Cargo.toml
  src/generated/cloud/video/transcoder/v1/README.md
  src/generated/cloud/video/transcoder/v1/src/builders.rs
  src/generated/cloud/video/transcoder/v1/src/client.rs
  src/generated/cloud/video/transcoder/v1/src/lib.rs
  src/generated/cloud/video/transcoder/v1/src/model.rs
  src/generated/cloud/video/transcoder/v1/src/stubs.rs
  src/generated/cloud/video/transcoder/v1/src/stubs/dynamic.rs
  src/generated/cloud/video/transcoder/v1/src/tracing.rs
  src/generated/cloud/video/transcoder/v1/src/transport.rs
Labels: api: videointelligence

#1093 feat(iap/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/iap/v1/.repo-metadata.json
  src/generated/cloud/iap/v1/.sidekick.toml
  src/generated/cloud/iap/v1/Cargo.toml
  src/generated/cloud/iap/v1/README.md
  src/generated/cloud/iap/v1/src/builders.rs
  src/generated/cloud/iap/v1/src/client.rs
  src/generated/cloud/iap/v1/src/lib.rs
  src/generated/cloud/iap/v1/src/model.rs
  src/generated/cloud/iap/v1/src/stubs.rs
  src/generated/cloud/iap/v1/src/stubs/dynamic.rs
  src/generated/cloud/iap/v1/src/tracing.rs
  src/generated/cloud/iap/v1/src/transport.rs
Labels: api: iap

#1095 feat(memcache/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/memcache/v1/.repo-metadata.json
  src/generated/cloud/memcache/v1/.sidekick.toml
  src/generated/cloud/memcache/v1/Cargo.toml
  src/generated/cloud/memcache/v1/README.md
  src/generated/cloud/memcache/v1/src/builders.rs
  src/generated/cloud/memcache/v1/src/client.rs
  src/generated/cloud/memcache/v1/src/lib.rs
  src/generated/cloud/memcache/v1/src/model.rs
  src/generated/cloud/memcache/v1/src/stubs.rs
  src/generated/cloud/memcache/v1/src/stubs/dynamic.rs
  src/generated/cloud/memcache/v1/src/tracing.rs
  src/generated/cloud/memcache/v1/src/transport.rs
Labels: api: memcache

#1063 feat(speech/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/speech/v2/.repo-metadata.json
  src/generated/cloud/speech/v2/.sidekick.toml
  src/generated/cloud/speech/v2/Cargo.toml
  src/generated/cloud/speech/v2/README.md
  src/generated/cloud/speech/v2/src/builders.rs
  src/generated/cloud/speech/v2/src/client.rs
  src/generated/cloud/speech/v2/src/lib.rs
  src/generated/cloud/speech/v2/src/model.rs
  src/generated/cloud/speech/v2/src/stubs.rs
  src/generated/cloud/speech/v2/src/stubs/dynamic.rs
  src/generated/cloud/speech/v2/src/tracing.rs
  src/generated/cloud/speech/v2/src/transport.rs
Labels: api: speech

#1100 feat(binaryauthorization/v1): generate library
  .sidekick.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/binaryauthorization/v1/.repo-metadata.json
  src/generated/cloud/binaryauthorization/v1/.sidekick.toml
  src/generated/cloud/binaryauthorization/v1/Cargo.toml
  src/generated/cloud/binaryauthorization/v1/README.md
  src/generated/cloud/binaryauthorization/v1/src/builders.rs
  src/generated/cloud/binaryauthorization/v1/src/client.rs
  src/generated/cloud/binaryauthorization/v1/src/lib.rs
  src/generated/cloud/binaryauthorization/v1/src/model.rs
  src/generated/cloud/binaryauthorization/v1/src/stubs.rs
  src/generated/cloud/binaryauthorization/v1/src/stubs/dynamic.rs
  src/generated/cloud/binaryauthorization/v1/src/tracing.rs
  src/generated/cloud/binaryauthorization/v1/src/transport.rs
Labels: api: binaryauthorization

#1104 feat(documentai/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/documentai/v1/.repo-metadata.json
  src/generated/cloud/documentai/v1/.sidekick.toml
  src/generated/cloud/documentai/v1/Cargo.toml
  src/generated/cloud/documentai/v1/README.md
  src/generated/cloud/documentai/v1/src/builders.rs
  src/generated/cloud/documentai/v1/src/client.rs
  src/generated/cloud/documentai/v1/src/lib.rs
  src/generated/cloud/documentai/v1/src/model.rs
  src/generated/cloud/documentai/v1/src/stubs.rs
  src/generated/cloud/documentai/v1/src/stubs/dynamic.rs
  src/generated/cloud/documentai/v1/src/tracing.rs
  src/generated/cloud/documentai/v1/src/transport.rs
Labels: api: documentai

#1106 feat(websecurityscanner/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/websecurityscanner/v1/.repo-metadata.json
  src/generated/cloud/websecurityscanner/v1/.sidekick.toml
  src/generated/cloud/websecurityscanner/v1/Cargo.toml
  src/generated/cloud/websecurityscanner/v1/README.md
  src/generated/cloud/websecurityscanner/v1/src/builders.rs
  src/generated/cloud/websecurityscanner/v1/src/client.rs
  src/generated/cloud/websecurityscanner/v1/src/lib.rs
  src/generated/cloud/websecurityscanner/v1/src/model.rs
  src/generated/cloud/websecurityscanner/v1/src/stubs.rs
  src/generated/cloud/websecurityscanner/v1/src/stubs/dynamic.rs
  src/generated/cloud/websecurityscanner/v1/src/tracing.rs
  src/generated/cloud/websecurityscanner/v1/src/transport.rs
Labels: api: websecurityscanner

#1114 feat(policytroubleshooter/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/policytroubleshooter/v1/.repo-metadata.json
  src/generated/cloud/policytroubleshooter/v1/.sidekick.toml
  src/generated/cloud/policytroubleshooter/v1/Cargo.toml
  src/generated/cloud/policytroubleshooter/v1/README.md
  src/generated/cloud/policytroubleshooter/v1/src/builders.rs
  src/generated/cloud/policytroubleshooter/v1/src/client.rs
  src/generated/cloud/policytroubleshooter/v1/src/lib.rs
  src/generated/cloud/policytroubleshooter/v1/src/model.rs
  src/generated/cloud/policytroubleshooter/v1/src/stubs.rs
  src/generated/cloud/policytroubleshooter/v1/src/stubs/dynamic.rs
  src/generated/cloud/policytroubleshooter/v1/src/tracing.rs
  src/generated/cloud/policytroubleshooter/v1/src/transport.rs
Labels: api: policytroubleshooter

#1125 feat(shell/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/shell/v1/.repo-metadata.json
  src/generated/cloud/shell/v1/.sidekick.toml
  src/generated/cloud/shell/v1/Cargo.toml
  src/generated/cloud/shell/v1/README.md
  src/generated/cloud/shell/v1/src/builders.rs
  src/generated/cloud/shell/v1/src/client.rs
  src/generated/cloud/shell/v1/src/lib.rs
  src/generated/cloud/shell/v1/src/model.rs
  src/generated/cloud/shell/v1/src/stubs.rs
  src/generated/cloud/shell/v1/src/stubs/dynamic.rs
  src/generated/cloud/shell/v1/src/tracing.rs
  src/generated/cloud/shell/v1/src/transport.rs
Labels: api: cloudshell

#1130 feat(securitycenter/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/securitycenter/v2/.repo-metadata.json
  src/generated/cloud/securitycenter/v2/.sidekick.toml
  src/generated/cloud/securitycenter/v2/Cargo.toml
  src/generated/cloud/securitycenter/v2/README.md
  src/generated/cloud/securitycenter/v2/src/builders.rs
  src/generated/cloud/securitycenter/v2/src/client.rs
  src/generated/cloud/securitycenter/v2/src/lib.rs
  src/generated/cloud/securitycenter/v2/src/model.rs
  src/generated/cloud/securitycenter/v2/src/stubs.rs
  src/generated/cloud/securitycenter/v2/src/stubs/dynamic.rs
  src/generated/cloud/securitycenter/v2/src/tracing.rs
  src/generated/cloud/securitycenter/v2/src/transport.rs
Labels: api: securitycenter

#1131 feat(redis/cluster/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/redis/cluster/v1/.repo-metadata.json
  src/generated/cloud/redis/cluster/v1/.sidekick.toml
  src/generated/cloud/redis/cluster/v1/Cargo.toml
  src/generated/cloud/redis/cluster/v1/README.md
  src/generated/cloud/redis/cluster/v1/src/builders.rs
  src/generated/cloud/redis/cluster/v1/src/client.rs
  src/generated/cloud/redis/cluster/v1/src/lib.rs
  src/generated/cloud/redis/cluster/v1/src/model.rs
  src/generated/cloud/redis/cluster/v1/src/stubs.rs
  src/generated/cloud/redis/cluster/v1/src/stubs/dynamic.rs
  src/generated/cloud/redis/cluster/v1/src/tracing.rs
  src/generated/cloud/redis/cluster/v1/src/transport.rs
Labels: api: redis

#1133 feat(contactcenterinsights/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/contactcenterinsights/v1/.repo-metadata.json
  src/generated/cloud/contactcenterinsights/v1/.sidekick.toml
  src/generated/cloud/contactcenterinsights/v1/Cargo.toml
  src/generated/cloud/contactcenterinsights/v1/README.md
  src/generated/cloud/contactcenterinsights/v1/src/builders.rs
  src/generated/cloud/contactcenterinsights/v1/src/client.rs
  src/generated/cloud/contactcenterinsights/v1/src/lib.rs
  src/generated/cloud/contactcenterinsights/v1/src/model.rs
  src/generated/cloud/contactcenterinsights/v1/src/stubs.rs
  src/generated/cloud/contactcenterinsights/v1/src/stubs/dynamic.rs
  src/generated/cloud/contactcenterinsights/v1/src/tracing.rs
  src/generated/cloud/contactcenterinsights/v1/src/transport.rs
Labels: api: contactcenterinsights

#1140 feat(texttospeech/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/texttospeech/v1/.repo-metadata.json
  src/generated/cloud/texttospeech/v1/.sidekick.toml
  src/generated/cloud/texttospeech/v1/Cargo.toml
  src/generated/cloud/texttospeech/v1/README.md
  src/generated/cloud/texttospeech/v1/src/builders.rs
  src/generated/cloud/texttospeech/v1/src/client.rs
  src/generated/cloud/texttospeech/v1/src/lib.rs
  src/generated/cloud/texttospeech/v1/src/model.rs
  src/generated/cloud/texttospeech/v1/src/stubs.rs
  src/generated/cloud/texttospeech/v1/src/stubs/dynamic.rs
  src/generated/cloud/texttospeech/v1/src/tracing.rs
  src/generated/cloud/texttospeech/v1/src/transport.rs
Labels: api: texttospeech

#1138 feat(ids/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/ids/v1/.repo-metadata.json
  src/generated/cloud/ids/v1/.sidekick.toml
  src/generated/cloud/ids/v1/Cargo.toml
  src/generated/cloud/ids/v1/README.md
  src/generated/cloud/ids/v1/src/builders.rs
  src/generated/cloud/ids/v1/src/client.rs
  src/generated/cloud/ids/v1/src/lib.rs
  src/generated/cloud/ids/v1/src/model.rs
  src/generated/cloud/ids/v1/src/stubs.rs
  src/generated/cloud/ids/v1/src/stubs/dynamic.rs
  src/generated/cloud/ids/v1/src/tracing.rs
  src/generated/cloud/ids/v1/src/transport.rs
Labels: api: ids

#1144 feat(optimization/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/optimization/v1/.repo-metadata.json
  src/generated/cloud/optimization/v1/.sidekick.toml
  src/generated/cloud/optimization/v1/Cargo.toml
  src/generated/cloud/optimization/v1/README.md
  src/generated/cloud/optimization/v1/src/builders.rs
  src/generated/cloud/optimization/v1/src/client.rs
  src/generated/cloud/optimization/v1/src/lib.rs
  src/generated/cloud/optimization/v1/src/model.rs
  src/generated/cloud/optimization/v1/src/stubs.rs
  src/generated/cloud/optimization/v1/src/stubs/dynamic.rs
  src/generated/cloud/optimization/v1/src/tracing.rs
  src/generated/cloud/optimization/v1/src/transport.rs
Labels: api: cloudoptimization

#1142 feat(servicedirectory/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/servicedirectory/v1/.repo-metadata.json
  src/generated/cloud/servicedirectory/v1/.sidekick.toml
  src/generated/cloud/servicedirectory/v1/Cargo.toml
  src/generated/cloud/servicedirectory/v1/README.md
  src/generated/cloud/servicedirectory/v1/src/builders.rs
  src/generated/cloud/servicedirectory/v1/src/client.rs
  src/generated/cloud/servicedirectory/v1/src/lib.rs
  src/generated/cloud/servicedirectory/v1/src/model.rs
  src/generated/cloud/servicedirectory/v1/src/stubs.rs
  src/generated/cloud/servicedirectory/v1/src/stubs/dynamic.rs
  src/generated/cloud/servicedirectory/v1/src/tracing.rs
  src/generated/cloud/servicedirectory/v1/src/transport.rs
Labels: api: servicedirectory

#1156 feat(managedidentities/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/managedidentities/v1/.repo-metadata.json
  src/generated/cloud/managedidentities/v1/.sidekick.toml
  src/generated/cloud/managedidentities/v1/Cargo.toml
  src/generated/cloud/managedidentities/v1/README.md
  src/generated/cloud/managedidentities/v1/src/builders.rs
  src/generated/cloud/managedidentities/v1/src/client.rs
  src/generated/cloud/managedidentities/v1/src/lib.rs
  src/generated/cloud/managedidentities/v1/src/model.rs
  src/generated/cloud/managedidentities/v1/src/stubs.rs
  src/generated/cloud/managedidentities/v1/src/stubs/dynamic.rs
  src/generated/cloud/managedidentities/v1/src/tracing.rs
  src/generated/cloud/managedidentities/v1/src/transport.rs
Labels: api: managedidentities

#1147 feat(logging/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/logging/v2/.repo-metadata.json
  src/generated/logging/v2/.sidekick.toml
  src/generated/logging/v2/Cargo.toml
  src/generated/logging/v2/README.md
  src/generated/logging/v2/src/builders.rs
  src/generated/logging/v2/src/client.rs
  src/generated/logging/v2/src/lib.rs
  src/generated/logging/v2/src/model.rs
  src/generated/logging/v2/src/stubs.rs
  src/generated/logging/v2/src/stubs/dynamic.rs
  src/generated/logging/v2/src/tracing.rs
  src/generated/logging/v2/src/transport.rs
Labels: api: logging

#1159 feat(oslogin/common): generate library
  Cargo.lock
  Cargo.toml
  src/generated/oslogin/common/.sidekick.toml
  src/generated/oslogin/common/Cargo.toml
  src/generated/oslogin/common/README.md
  src/generated/oslogin/common/src/lib.rs
  src/generated/oslogin/common/src/model.rs
Labels: api: oslogin

#1161 feat(oslogin/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/oslogin/v1/.repo-metadata.json
  src/generated/cloud/oslogin/v1/.sidekick.toml
  src/generated/cloud/oslogin/v1/Cargo.toml
  src/generated/cloud/oslogin/v1/README.md
  src/generated/cloud/oslogin/v1/src/builders.rs
  src/generated/cloud/oslogin/v1/src/client.rs
  src/generated/cloud/oslogin/v1/src/lib.rs
  src/generated/cloud/oslogin/v1/src/model.rs
  src/generated/cloud/oslogin/v1/src/stubs.rs
  src/generated/cloud/oslogin/v1/src/stubs/dynamic.rs
  src/generated/cloud/oslogin/v1/src/tracing.rs
  src/generated/cloud/oslogin/v1/src/transport.rs
Labels: api: oslogin

#1160 feat(dialogflow/cx/v3): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/dialogflow/cx/v3/.repo-metadata.json
  src/generated/cloud/dialogflow/cx/v3/.sidekick.toml
  src/generated/cloud/dialogflow/cx/v3/Cargo.toml
  src/generated/cloud/dialogflow/cx/v3/README.md
  src/generated/cloud/dialogflow/cx/v3/src/builders.rs
  src/generated/cloud/dialogflow/cx/v3/src/client.rs
  src/generated/cloud/dialogflow/cx/v3/src/lib.rs
  src/generated/cloud/dialogflow/cx/v3/src/model.rs
  src/generated/cloud/dialogflow/cx/v3/src/stubs.rs
  src/generated/cloud/dialogflow/cx/v3/src/stubs/dynamic.rs
  src/generated/cloud/dialogflow/cx/v3/src/tracing.rs
  src/generated/cloud/dialogflow/cx/v3/src/transport.rs
Labels: api: dialogflow

#1166 feat(metastore/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/metastore/v1/.repo-metadata.json
  src/generated/cloud/metastore/v1/.sidekick.toml
  src/generated/cloud/metastore/v1/Cargo.toml
  src/generated/cloud/metastore/v1/README.md
  src/generated/cloud/metastore/v1/src/builders.rs
  src/generated/cloud/metastore/v1/src/client.rs
  src/generated/cloud/metastore/v1/src/lib.rs
  src/generated/cloud/metastore/v1/src/model.rs
  src/generated/cloud/metastore/v1/src/stubs.rs
  src/generated/cloud/metastore/v1/src/stubs/dynamic.rs
  src/generated/cloud/metastore/v1/src/tracing.rs
  src/generated/cloud/metastore/v1/src/transport.rs
Labels: api: metastore

#1171 feat(datastream/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/datastream/v1/.repo-metadata.json
  src/generated/cloud/datastream/v1/.sidekick.toml
  src/generated/cloud/datastream/v1/Cargo.toml
  src/generated/cloud/datastream/v1/README.md
  src/generated/cloud/datastream/v1/src/builders.rs
  src/generated/cloud/datastream/v1/src/client.rs
  src/generated/cloud/datastream/v1/src/lib.rs
  src/generated/cloud/datastream/v1/src/model.rs
  src/generated/cloud/datastream/v1/src/stubs.rs
  src/generated/cloud/datastream/v1/src/stubs/dynamic.rs
  src/generated/cloud/datastream/v1/src/tracing.rs
  src/generated/cloud/datastream/v1/src/transport.rs
Labels: api: datastream

#1179 feat(policytroubleshooter/iam/v3): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/policytroubleshooter/iam/v3/.repo-metadata.json
  src/generated/cloud/policytroubleshooter/iam/v3/.sidekick.toml
  src/generated/cloud/policytroubleshooter/iam/v3/Cargo.toml
  src/generated/cloud/policytroubleshooter/iam/v3/README.md
  src/generated/cloud/policytroubleshooter/iam/v3/src/builders.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/client.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/lib.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/model.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/stubs.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/stubs/dynamic.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/tracing.rs
  src/generated/cloud/policytroubleshooter/iam/v3/src/transport.rs
Labels: api: policytroubleshooter

#1178 feat(networkconnectivity/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/networkconnectivity/v1/.repo-metadata.json
  src/generated/cloud/networkconnectivity/v1/.sidekick.toml
  src/generated/cloud/networkconnectivity/v1/Cargo.toml
  src/generated/cloud/networkconnectivity/v1/README.md
  src/generated/cloud/networkconnectivity/v1/src/builders.rs
  src/generated/cloud/networkconnectivity/v1/src/client.rs
  src/generated/cloud/networkconnectivity/v1/src/lib.rs
  src/generated/cloud/networkconnectivity/v1/src/model.rs
  src/generated/cloud/networkconnectivity/v1/src/stubs.rs
  src/generated/cloud/networkconnectivity/v1/src/stubs/dynamic.rs
  src/generated/cloud/networkconnectivity/v1/src/tracing.rs
  src/generated/cloud/networkconnectivity/v1/src/transport.rs
Labels: api: networkconnectivity

#1180 feat(dialogflow/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/dialogflow/v2/.repo-metadata.json
  src/generated/cloud/dialogflow/v2/.sidekick.toml
  src/generated/cloud/dialogflow/v2/Cargo.toml
  src/generated/cloud/dialogflow/v2/README.md
  src/generated/cloud/dialogflow/v2/src/builders.rs
  src/generated/cloud/dialogflow/v2/src/client.rs
  src/generated/cloud/dialogflow/v2/src/lib.rs
  src/generated/cloud/dialogflow/v2/src/model.rs
  src/generated/cloud/dialogflow/v2/src/stubs.rs
  src/generated/cloud/dialogflow/v2/src/stubs/dynamic.rs
  src/generated/cloud/dialogflow/v2/src/tracing.rs
  src/generated/cloud/dialogflow/v2/src/transport.rs
Labels: api: dialogflow

#1190 feat(workflowexecutions/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/workflows/executions/v1/.repo-metadata.json
  src/generated/cloud/workflows/executions/v1/.sidekick.toml
  src/generated/cloud/workflows/executions/v1/Cargo.toml
  src/generated/cloud/workflows/executions/v1/README.md
  src/generated/cloud/workflows/executions/v1/src/builders.rs
  src/generated/cloud/workflows/executions/v1/src/client.rs
  src/generated/cloud/workflows/executions/v1/src/lib.rs
  src/generated/cloud/workflows/executions/v1/src/model.rs
  src/generated/cloud/workflows/executions/v1/src/stubs.rs
  src/generated/cloud/workflows/executions/v1/src/stubs/dynamic.rs
  src/generated/cloud/workflows/executions/v1/src/tracing.rs
  src/generated/cloud/workflows/executions/v1/src/transport.rs
Labels: api: workflowexecutions

#1199 feat(alloydb/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/alloydb/v1/.repo-metadata.json
  src/generated/cloud/alloydb/v1/.sidekick.toml
  src/generated/cloud/alloydb/v1/Cargo.toml
  src/generated/cloud/alloydb/v1/README.md
  src/generated/cloud/alloydb/v1/src/builders.rs
  src/generated/cloud/alloydb/v1/src/client.rs
  src/generated/cloud/alloydb/v1/src/lib.rs
  src/generated/cloud/alloydb/v1/src/model.rs
  src/generated/cloud/alloydb/v1/src/stubs.rs
  src/generated/cloud/alloydb/v1/src/stubs/dynamic.rs
  src/generated/cloud/alloydb/v1/src/tracing.rs
  src/generated/cloud/alloydb/v1/src/transport.rs
Labels: api: alloydb

#1182 feat(retail/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/retail/v2/.repo-metadata.json
  src/generated/cloud/retail/v2/.sidekick.toml
  src/generated/cloud/retail/v2/Cargo.toml
  src/generated/cloud/retail/v2/README.md
  src/generated/cloud/retail/v2/src/builders.rs
  src/generated/cloud/retail/v2/src/client.rs
  src/generated/cloud/retail/v2/src/lib.rs
  src/generated/cloud/retail/v2/src/model.rs
  src/generated/cloud/retail/v2/src/stubs.rs
  src/generated/cloud/retail/v2/src/stubs/dynamic.rs
  src/generated/cloud/retail/v2/src/tracing.rs
  src/generated/cloud/retail/v2/src/transport.rs
Labels: api: retail

#1188 feat(discoveryengine/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/discoveryengine/v1/.repo-metadata.json
  src/generated/cloud/discoveryengine/v1/.sidekick.toml
  src/generated/cloud/discoveryengine/v1/Cargo.toml
  src/generated/cloud/discoveryengine/v1/README.md
  src/generated/cloud/discoveryengine/v1/src/builders.rs
  src/generated/cloud/discoveryengine/v1/src/client.rs
  src/generated/cloud/discoveryengine/v1/src/lib.rs
  src/generated/cloud/discoveryengine/v1/src/model.rs
  src/generated/cloud/discoveryengine/v1/src/stubs.rs
  src/generated/cloud/discoveryengine/v1/src/stubs/dynamic.rs
  src/generated/cloud/discoveryengine/v1/src/tracing.rs
  src/generated/cloud/discoveryengine/v1/src/transport.rs
Labels: api: discoveryengine

#1186 feat(apikeys/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/api/apikeys/v2/.repo-metadata.json
  src/generated/api/apikeys/v2/.sidekick.toml
  src/generated/api/apikeys/v2/Cargo.toml
  src/generated/api/apikeys/v2/README.md
  src/generated/api/apikeys/v2/src/builders.rs
  src/generated/api/apikeys/v2/src/client.rs
  src/generated/api/apikeys/v2/src/lib.rs
  src/generated/api/apikeys/v2/src/model.rs
  src/generated/api/apikeys/v2/src/stubs.rs
  src/generated/api/apikeys/v2/src/stubs/dynamic.rs
  src/generated/api/apikeys/v2/src/tracing.rs
  src/generated/api/apikeys/v2/src/transport.rs
Labels: api: apikeys

#1205 feat(baremetalsolution/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/baremetalsolution/v2/.repo-metadata.json
  src/generated/cloud/baremetalsolution/v2/.sidekick.toml
  src/generated/cloud/baremetalsolution/v2/Cargo.toml
  src/generated/cloud/baremetalsolution/v2/README.md
  src/generated/cloud/baremetalsolution/v2/src/builders.rs
  src/generated/cloud/baremetalsolution/v2/src/client.rs
  src/generated/cloud/baremetalsolution/v2/src/lib.rs
  src/generated/cloud/baremetalsolution/v2/src/model.rs
  src/generated/cloud/baremetalsolution/v2/src/stubs.rs
  src/generated/cloud/baremetalsolution/v2/src/stubs/dynamic.rs
  src/generated/cloud/baremetalsolution/v2/src/tracing.rs
  src/generated/cloud/baremetalsolution/v2/src/transport.rs
Labels: api: baremetalsolution

#1207 feat(advisorynotifications/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/advisorynotifications/v1/.repo-metadata.json
  src/generated/cloud/advisorynotifications/v1/.sidekick.toml
  src/generated/cloud/advisorynotifications/v1/Cargo.toml
  src/generated/cloud/advisorynotifications/v1/README.md
  src/generated/cloud/advisorynotifications/v1/src/builders.rs
  src/generated/cloud/advisorynotifications/v1/src/client.rs
  src/generated/cloud/advisorynotifications/v1/src/lib.rs
  src/generated/cloud/advisorynotifications/v1/src/model.rs
  src/generated/cloud/advisorynotifications/v1/src/stubs.rs
  src/generated/cloud/advisorynotifications/v1/src/stubs/dynamic.rs
  src/generated/cloud/advisorynotifications/v1/src/tracing.rs
  src/generated/cloud/advisorynotifications/v1/src/transport.rs
Labels: api: advisorynotifications

#1209 feat(workstations/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/workstations/v1/.repo-metadata.json
  src/generated/cloud/workstations/v1/.sidekick.toml
  src/generated/cloud/workstations/v1/Cargo.toml
  src/generated/cloud/workstations/v1/README.md
  src/generated/cloud/workstations/v1/src/builders.rs
  src/generated/cloud/workstations/v1/src/client.rs
  src/generated/cloud/workstations/v1/src/lib.rs
  src/generated/cloud/workstations/v1/src/model.rs
  src/generated/cloud/workstations/v1/src/stubs.rs
  src/generated/cloud/workstations/v1/src/stubs/dynamic.rs
  src/generated/cloud/workstations/v1/src/tracing.rs
  src/generated/cloud/workstations/v1/src/transport.rs
Labels: api: workstations

#1033 feat(osconfig/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/osconfig/v1/.repo-metadata.json
  src/generated/cloud/osconfig/v1/.sidekick.toml
  src/generated/cloud/osconfig/v1/Cargo.toml
  src/generated/cloud/osconfig/v1/README.md
  src/generated/cloud/osconfig/v1/src/builders.rs
  src/generated/cloud/osconfig/v1/src/client.rs
  src/generated/cloud/osconfig/v1/src/lib.rs
  src/generated/cloud/osconfig/v1/src/model.rs
  src/generated/cloud/osconfig/v1/src/stubs.rs
  src/generated/cloud/osconfig/v1/src/stubs/dynamic.rs
  src/generated/cloud/osconfig/v1/src/tracing.rs
  src/generated/cloud/osconfig/v1/src/transport.rs
Labels: api: osconfig

#1220 feat(orgpolicy/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/orgpolicy/v1/.sidekick.toml
  src/generated/cloud/orgpolicy/v1/Cargo.toml
  src/generated/cloud/orgpolicy/v1/README.md
  src/generated/cloud/orgpolicy/v1/src/lib.rs
  src/generated/cloud/orgpolicy/v1/src/model.rs
Labels: api: orgpolicy

#1232 feat(iam/v3): generate library
  Cargo.lock
  Cargo.toml
  src/generated/iam/v3/.repo-metadata.json
  src/generated/iam/v3/.sidekick.toml
  src/generated/iam/v3/Cargo.toml
  src/generated/iam/v3/README.md
  src/generated/iam/v3/src/builders.rs
  src/generated/iam/v3/src/client.rs
  src/generated/iam/v3/src/lib.rs
  src/generated/iam/v3/src/model.rs
  src/generated/iam/v3/src/stubs.rs
  src/generated/iam/v3/src/stubs/dynamic.rs
  src/generated/iam/v3/src/tracing.rs
  src/generated/iam/v3/src/transport.rs
Labels: api: iam

#1238 feat(bigquery/migration/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/bigquery/migration/v2/.repo-metadata.json
  src/generated/cloud/bigquery/migration/v2/.sidekick.toml
  src/generated/cloud/bigquery/migration/v2/Cargo.toml
  src/generated/cloud/bigquery/migration/v2/README.md
  src/generated/cloud/bigquery/migration/v2/src/builders.rs
  src/generated/cloud/bigquery/migration/v2/src/client.rs
  src/generated/cloud/bigquery/migration/v2/src/lib.rs
  src/generated/cloud/bigquery/migration/v2/src/model.rs
  src/generated/cloud/bigquery/migration/v2/src/stubs.rs
  src/generated/cloud/bigquery/migration/v2/src/stubs/dynamic.rs
  src/generated/cloud/bigquery/migration/v2/src/tracing.rs
  src/generated/cloud/bigquery/migration/v2/src/transport.rs
Labels: api: bigquerymigration

#1230 feat(vmwareengine/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/vmwareengine/v1/.repo-metadata.json
  src/generated/cloud/vmwareengine/v1/.sidekick.toml
  src/generated/cloud/vmwareengine/v1/Cargo.toml
  src/generated/cloud/vmwareengine/v1/README.md
  src/generated/cloud/vmwareengine/v1/src/builders.rs
  src/generated/cloud/vmwareengine/v1/src/client.rs
  src/generated/cloud/vmwareengine/v1/src/lib.rs
  src/generated/cloud/vmwareengine/v1/src/model.rs
  src/generated/cloud/vmwareengine/v1/src/stubs.rs
  src/generated/cloud/vmwareengine/v1/src/stubs/dynamic.rs
  src/generated/cloud/vmwareengine/v1/src/tracing.rs
  src/generated/cloud/vmwareengine/v1/src/transport.rs
Labels: api: vmwareengine

#1237 feat(bigquery/datapolicies/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/bigquery/datapolicies/v1/.repo-metadata.json
  src/generated/cloud/bigquery/datapolicies/v1/.sidekick.toml
  src/generated/cloud/bigquery/datapolicies/v1/Cargo.toml
  src/generated/cloud/bigquery/datapolicies/v1/README.md
  src/generated/cloud/bigquery/datapolicies/v1/src/builders.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/client.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/lib.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/model.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/stubs.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/stubs/dynamic.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/tracing.rs
  src/generated/cloud/bigquery/datapolicies/v1/src/transport.rs
Labels: api: bigquery

#1221 feat(asset/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/asset/v1/.repo-metadata.json
  src/generated/cloud/asset/v1/.sidekick.toml
  src/generated/cloud/asset/v1/Cargo.toml
  src/generated/cloud/asset/v1/README.md
  src/generated/cloud/asset/v1/src/builders.rs
  src/generated/cloud/asset/v1/src/client.rs
  src/generated/cloud/asset/v1/src/lib.rs
  src/generated/cloud/asset/v1/src/model.rs
  src/generated/cloud/asset/v1/src/stubs.rs
  src/generated/cloud/asset/v1/src/stubs/dynamic.rs
  src/generated/cloud/asset/v1/src/tracing.rs
  src/generated/cloud/asset/v1/src/transport.rs
Labels: api: cloudasset

#1211 feat(aiplatform/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/aiplatform/v1/.repo-metadata.json
  src/generated/cloud/aiplatform/v1/.sidekick.toml
  src/generated/cloud/aiplatform/v1/Cargo.toml
  src/generated/cloud/aiplatform/v1/README.md
  src/generated/cloud/aiplatform/v1/src/builders.rs
  src/generated/cloud/aiplatform/v1/src/client.rs
  src/generated/cloud/aiplatform/v1/src/lib.rs
  src/generated/cloud/aiplatform/v1/src/model.rs
  src/generated/cloud/aiplatform/v1/src/stubs.rs
  src/generated/cloud/aiplatform/v1/src/stubs/dynamic.rs
  src/generated/cloud/aiplatform/v1/src/tracing.rs
  src/generated/cloud/aiplatform/v1/src/transport.rs
Labels: api: aiplatform

#1244 feat(domains/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/domains/v1/.repo-metadata.json
  src/generated/cloud/domains/v1/.sidekick.toml
  src/generated/cloud/domains/v1/Cargo.toml
  src/generated/cloud/domains/v1/README.md
  src/generated/cloud/domains/v1/src/builders.rs
  src/generated/cloud/domains/v1/src/client.rs
  src/generated/cloud/domains/v1/src/lib.rs
  src/generated/cloud/domains/v1/src/model.rs
  src/generated/cloud/domains/v1/src/stubs.rs
  src/generated/cloud/domains/v1/src/stubs/dynamic.rs
  src/generated/cloud/domains/v1/src/tracing.rs
  src/generated/cloud/domains/v1/src/transport.rs
Labels: api: domains

#1257 feat(gkehub/multiclusteringress/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/gkehub/configmanagement/v1/.sidekick.toml
  src/generated/gkehub/configmanagement/v1/Cargo.toml
  src/generated/gkehub/configmanagement/v1/README.md
  src/generated/gkehub/configmanagement/v1/src/lib.rs
  src/generated/gkehub/configmanagement/v1/src/model.rs
Labels: api: gkehub

#1259 feat(gkehub/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/gkehub/configmanagement/v1/.sidekick.toml
  src/generated/cloud/gkehub/configmanagement/v1/Cargo.toml
  src/generated/cloud/gkehub/configmanagement/v1/README.md
  src/generated/cloud/gkehub/configmanagement/v1/src/lib.rs
  src/generated/cloud/gkehub/configmanagement/v1/src/model.rs
  src/generated/cloud/gkehub/multiclusteringress/v1/.sidekick.toml
  src/generated/cloud/gkehub/multiclusteringress/v1/Cargo.toml
  src/generated/cloud/gkehub/multiclusteringress/v1/README.md
  src/generated/cloud/gkehub/multiclusteringress/v1/src/lib.rs
  src/generated/cloud/gkehub/multiclusteringress/v1/src/model.rs
  src/generated/cloud/gkehub/v1/.repo-metadata.json
  src/generated/cloud/gkehub/v1/.sidekick.toml
  src/generated/cloud/gkehub/v1/Cargo.toml
  src/generated/cloud/gkehub/v1/README.md
  src/generated/cloud/gkehub/v1/src/builders.rs
  src/generated/cloud/gkehub/v1/src/client.rs
  src/generated/cloud/gkehub/v1/src/lib.rs
  src/generated/cloud/gkehub/v1/src/model.rs
  src/generated/cloud/gkehub/v1/src/stubs.rs
  src/generated/cloud/gkehub/v1/src/stubs/dynamic.rs
  src/generated/cloud/gkehub/v1/src/tracing.rs
  src/generated/cloud/gkehub/v1/src/transport.rs
Labels: api: gkehub

#1264 feat(containeranalysis/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/devtools/containeranalysis/v1/.repo-metadata.json
  src/generated/devtools/containeranalysis/v1/.sidekick.toml
  src/generated/devtools/containeranalysis/v1/Cargo.toml
  src/generated/devtools/containeranalysis/v1/README.md
  src/generated/devtools/containeranalysis/v1/src/builders.rs
  src/generated/devtools/containeranalysis/v1/src/client.rs
  src/generated/devtools/containeranalysis/v1/src/lib.rs
  src/generated/devtools/containeranalysis/v1/src/model.rs
  src/generated/devtools/containeranalysis/v1/src/stubs.rs
  src/generated/devtools/containeranalysis/v1/src/stubs/dynamic.rs
  src/generated/devtools/containeranalysis/v1/src/tracing.rs
  src/generated/devtools/containeranalysis/v1/src/transport.rs
Labels: api: containeranalysis

#1263 feat(video/stitcher/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/video/stitcher/v1/.repo-metadata.json
  src/generated/cloud/video/stitcher/v1/.sidekick.toml
  src/generated/cloud/video/stitcher/v1/Cargo.toml
  src/generated/cloud/video/stitcher/v1/README.md
  src/generated/cloud/video/stitcher/v1/src/builders.rs
  src/generated/cloud/video/stitcher/v1/src/client.rs
  src/generated/cloud/video/stitcher/v1/src/lib.rs
  src/generated/cloud/video/stitcher/v1/src/model.rs
  src/generated/cloud/video/stitcher/v1/src/stubs.rs
  src/generated/cloud/video/stitcher/v1/src/stubs/dynamic.rs
  src/generated/cloud/video/stitcher/v1/src/tracing.rs
  src/generated/cloud/video/stitcher/v1/src/transport.rs
Labels: api: videointelligence

#1293 feat(gsuiteaddons/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/apps/script/calendar/.sidekick.toml
  src/generated/apps/script/calendar/Cargo.toml
  src/generated/apps/script/calendar/README.md
  src/generated/apps/script/calendar/src/lib.rs
  src/generated/apps/script/calendar/src/model.rs
  src/generated/apps/script/docs/.sidekick.toml
  src/generated/apps/script/docs/Cargo.toml
  src/generated/apps/script/docs/README.md
  src/generated/apps/script/docs/src/lib.rs
  src/generated/apps/script/docs/src/model.rs
  src/generated/apps/script/drive/.sidekick.toml
  src/generated/apps/script/drive/Cargo.toml
  src/generated/apps/script/drive/README.md
  src/generated/apps/script/drive/src/lib.rs
  src/generated/apps/script/drive/src/model.rs
  src/generated/apps/script/gmail/.sidekick.toml
  src/generated/apps/script/gmail/Cargo.toml
  src/generated/apps/script/gmail/README.md
  src/generated/apps/script/gmail/src/lib.rs
  src/generated/apps/script/gmail/src/model.rs
  src/generated/apps/script/gtype/.sidekick.toml
  src/generated/apps/script/gtype/Cargo.toml
  src/generated/apps/script/gtype/README.md
  src/generated/apps/script/gtype/src/lib.rs
  src/generated/apps/script/gtype/src/model.rs
  src/generated/apps/script/sheets/.sidekick.toml
  src/generated/apps/script/sheets/Cargo.toml
  src/generated/apps/script/sheets/README.md
  src/generated/apps/script/sheets/src/lib.rs
  src/generated/apps/script/sheets/src/model.rs
  src/generated/apps/script/slides/.sidekick.toml
  src/generated/apps/script/slides/Cargo.toml
  src/generated/apps/script/slides/README.md
  src/generated/apps/script/slides/src/lib.rs
  src/generated/apps/script/slides/src/model.rs
  src/generated/cloud/gsuiteaddons/v1/.repo-metadata.json
  src/generated/cloud/gsuiteaddons/v1/.sidekick.toml
  src/generated/cloud/gsuiteaddons/v1/Cargo.toml
  src/generated/cloud/gsuiteaddons/v1/README.md
  src/generated/cloud/gsuiteaddons/v1/src/builders.rs
  src/generated/cloud/gsuiteaddons/v1/src/client.rs
  src/generated/cloud/gsuiteaddons/v1/src/lib.rs
  src/generated/cloud/gsuiteaddons/v1/src/model.rs
  src/generated/cloud/gsuiteaddons/v1/src/stubs.rs
  src/generated/cloud/gsuiteaddons/v1/src/stubs/dynamic.rs
  src/generated/cloud/gsuiteaddons/v1/src/tracing.rs
  src/generated/cloud/gsuiteaddons/v1/src/transport.rs
Labels: api: gsuiteaddons

#1318 feat(oracledatabase/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/oracledatabase/v1/.repo-metadata.json
  src/generated/cloud/oracledatabase/v1/.sidekick.toml
  src/generated/cloud/oracledatabase/v1/Cargo.toml
  src/generated/cloud/oracledatabase/v1/README.md
  src/generated/cloud/oracledatabase/v1/src/builders.rs
  src/generated/cloud/oracledatabase/v1/src/client.rs
  src/generated/cloud/oracledatabase/v1/src/lib.rs
  src/generated/cloud/oracledatabase/v1/src/model.rs
  src/generated/cloud/oracledatabase/v1/src/stubs.rs
  src/generated/cloud/oracledatabase/v1/src/stubs/dynamic.rs
  src/generated/cloud/oracledatabase/v1/src/tracing.rs
  src/generated/cloud/oracledatabase/v1/src/transport.rs
Labels: api: oracledatabase

#1315 feat(parallelstore/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/parallelstore/v1/.repo-metadata.json
  src/generated/cloud/parallelstore/v1/.sidekick.toml
  src/generated/cloud/parallelstore/v1/Cargo.toml
  src/generated/cloud/parallelstore/v1/README.md
  src/generated/cloud/parallelstore/v1/src/builders.rs
  src/generated/cloud/parallelstore/v1/src/client.rs
  src/generated/cloud/parallelstore/v1/src/lib.rs
  src/generated/cloud/parallelstore/v1/src/model.rs
  src/generated/cloud/parallelstore/v1/src/stubs.rs
  src/generated/cloud/parallelstore/v1/src/stubs/dynamic.rs
  src/generated/cloud/parallelstore/v1/src/tracing.rs
  src/generated/cloud/parallelstore/v1/src/transport.rs
Labels: api: parallelstore

#1296 feat(alloydb/connectors/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/alloydb/connectors/v1/.sidekick.toml
  src/generated/cloud/alloydb/connectors/v1/Cargo.toml
  src/generated/cloud/alloydb/connectors/v1/README.md
  src/generated/cloud/alloydb/connectors/v1/src/lib.rs
  src/generated/cloud/alloydb/connectors/v1/src/model.rs
Labels: api: alloydb

#1313 feat(apphub/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/apphub/v1/.repo-metadata.json
  src/generated/cloud/apphub/v1/.sidekick.toml
  src/generated/cloud/apphub/v1/Cargo.toml
  src/generated/cloud/apphub/v1/README.md
  src/generated/cloud/apphub/v1/src/builders.rs
  src/generated/cloud/apphub/v1/src/client.rs
  src/generated/cloud/apphub/v1/src/lib.rs
  src/generated/cloud/apphub/v1/src/model.rs
  src/generated/cloud/apphub/v1/src/stubs.rs
  src/generated/cloud/apphub/v1/src/stubs/dynamic.rs
  src/generated/cloud/apphub/v1/src/tracing.rs
  src/generated/cloud/apphub/v1/src/transport.rs
Labels: api: apphub

#1335 feat(firestore/admin/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/firestore/admin/v1/.repo-metadata.json
  src/generated/firestore/admin/v1/.sidekick.toml
  src/generated/firestore/admin/v1/Cargo.toml
  src/generated/firestore/admin/v1/README.md
  src/generated/firestore/admin/v1/src/builders.rs
  src/generated/firestore/admin/v1/src/client.rs
  src/generated/firestore/admin/v1/src/lib.rs
  src/generated/firestore/admin/v1/src/model.rs
  src/generated/firestore/admin/v1/src/stubs.rs
  src/generated/firestore/admin/v1/src/stubs/dynamic.rs
  src/generated/firestore/admin/v1/src/tracing.rs
  src/generated/firestore/admin/v1/src/transport.rs
Labels: api: firestore
