Repository googleapis/google-cloud-rust, pull requests merged in 2025-04, with the labels that each got.

#1848 feat(dataplex/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/dataplex/v1/.repo-metadata.json
  src/generated/cloud/dataplex/v1/.sidekick.toml
  src/generated/cloud/dataplex/v1/Cargo.toml
  src/generated/cloud/dataplex/v1/README.md
  src/generated/cloud/dataplex/v1/src/builder.rs
  src/generated/cloud/dataplex/v1/src/client.rs
  src/generated/cloud/dataplex/v1/src/lib.rs
  src/generated/cloud/dataplex/v1/src/model.rs
  src/generated/cloud/dataplex/v1/src/stub.rs
  src/generated/cloud/dataplex/v1/src/stub/dynamic.rs
  src/generated/cloud/dataplex/v1/src/tracing.rs
  src/generated/cloud/dataplex/v1/src/transport.rs
Labels: api: dataplex

#1874 refactor: use `grpc::Client`
  Cargo.lock
  generator/internal/rust/templates/grpc-client/transport.rs.mustache
  src/firestore/Cargo.toml
  src/firestore/src/generated/gapic/transport.rs
  src/gax-internal/src/grpc.rs
  src/storage/Cargo.toml
  src/storage/src/generated/gapic/transport.rs
Labels: api: firestore

#1949 refactor(storage): rename crate and directory
  .codecov.yml
  Cargo.lock
  Cargo.toml
  src/integration-tests/Cargo.toml
  src/storage-control/Cargo.toml
  src/storage-control/README.md
  src/storage-control/src/client.rs
  src/storage-control/src/generated.rs
  src/storage-control/src/generated/convert/storage/.sidekick.toml
  src/storage-control/src/generated/convert/storage/convert.rs
  src/storage-control/src/generated/convert/type/.sidekick.toml
  src/storage-control/src/generated/convert/type/convert.rs
  src/storage-control/src/generated/gapic/.sidekick.toml
  src/storage-control/src/generated/gapic/builder.rs
  src/storage-control/src/generated/gapic/client.rs
  src/storage-control/src/generated/gapic/mod.rs
  src/storage-control/src/generated/gapic/model.rs
  src/storage-control/src/generated/gapic/stub.rs
  src/storage-control/src/generated/gapic/stub/dynamic.rs
  src/storage-control/src/generated/gapic/tracing.rs
  src/storage-control/src/generated/gapic/transport.rs
  src/storage-control/src/generated/protos/storage/.sidekick.toml
  src/storage-control/src/generated/protos/storage/Cargo.toml
  src/storage-control/src/generated/protos/storage/build.rs
  src/storage-control/src/generated/protos/storage/google.api.rs
  src/storage-control/src/generated/protos/storage/google.iam.v1.rs
  src/storage-control/src/generated/protos/storage/google.r#type.rs
  src/storage-control/src/generated/protos/storage/google.rpc.rs
  src/storage-control/src/generated/protos/storage/google.storage.v2.rs
  src/storage-control/src/generated/protos/storage/src/lib.rs
  src/storage-control/src/lib.rs
Labels: api: storage

#1952 test(storage): add CRD tests
  src/integration-tests/src/lib.rs
  src/integration-tests/src/storage.rs
Labels: api: storage

#1960 feat(storage): IAM operations
  src/integration-tests/src/storage.rs
  src/storage-control/src/client.rs
Labels: api: storage

#1966 doc(storage): more resources for IAM fns
  src/storage-control/src/client.rs
Labels: api: storage
