Repository googleapis/google-cloud-rust, pull requests merged in 2025-09, with the labels that each got.

#3198 docs(storage): `set_client_endpoint` example
  src/storage/examples/src/client.rs
  src/storage/examples/src/client/set_client_endpoint.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/tests/integration.rs
Labels: api: storage

#3200 cleanup(storage): remove extra sample run
  src/storage/examples/src/lib.rs
Labels: samples, api: storage

#3190 docs(storage): add sample for rotate encryption key
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/rotate_encryption_key.rs
Labels: samples, api: storage

#3203 docs(storage): add sample for converting object from csek to cmek
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/object_csek_to_cmek.rs
Labels: samples, api: storage

#3222 docs(storage): add object get kms key example
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/get_kms_key.rs
Labels: api: storage

#3232 docs(storage): add object print acl for user example
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/print_file_acl_for_user.rs
Labels: api: storage

#3294 chore: bump version for gax-internal
  Cargo.lock
  Cargo.toml
  src/gax-internal/Cargo.toml
Labels: rust: no-semver-checks

#3290 test: run storage-samples integration tests in ci
  .gcb/integration.yaml
  src/storage/examples/src/buckets.rs
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
Labels: samples

#3314 docs(storage): make public example
  src/storage/examples/src/lib.rs
  src/storage/examples/src/objects.rs
  src/storage/examples/src/objects/make_public.rs
Labels: api: storage

#3356 test(pubsub): add simple integration test
  Cargo.lock
  src/integration-tests/Cargo.toml
  src/integration-tests/src/lib.rs
  src/integration-tests/src/pubsub.rs
  src/integration-tests/tests/driver.rs
Labels: api: pubsub

#3399 chore(compute/v1): update sidekick version
  .github/workflows/sdk.yaml
  src/generated/cloud/compute/v1/src/model.rs
  src/generated/cloud/compute/v1/src/model/debug.rs
  src/generated/cloud/compute/v1/src/model/deserialize.rs
  src/generated/cloud/compute/v1/src/model/serialize.rs
Labels: api: compute

#3405 feat(compute/v1): sidekick supports enums
  .github/workflows/sdk.yaml
  src/generated/cloud/compute/v1/src/model.rs
  src/generated/cloud/compute/v1/src/model/deserialize.rs
  src/generated/cloud/compute/v1/src/model/serialize.rs
  src/integration-tests/src/compute.rs
Labels: api: compute

#3411 feat(compute/v1): add `machineTypes` service
  src/generated/cloud/compute/v1/.sidekick.toml
  src/generated/cloud/compute/v1/README.md
  src/generated/cloud/compute/v1/src/builder.rs
  src/generated/cloud/compute/v1/src/client.rs
  src/generated/cloud/compute/v1/src/lib.rs
  src/generated/cloud/compute/v1/src/model.rs
  src/generated/cloud/compute/v1/src/model/debug.rs
  src/generated/cloud/compute/v1/src/model/deserialize.rs
  src/generated/cloud/compute/v1/src/model/serialize.rs
  src/generated/cloud/compute/v1/src/stub.rs
  src/generated/cloud/compute/v1/src/stub/dynamic.rs
  src/generated/cloud/compute/v1/src/tracing.rs
  src/generated/cloud/compute/v1/src/transport.rs
  src/integration-tests/src/compute.rs
  src/integration-tests/tests/driver.rs
Labels: api: compute

#3414 test(storage): deflake integration tests
  src/integration-tests/src/storage.rs
Labels: api: storage

#3426 feat(compute/v1): singular fields are optional
  .github/workflows/sdk.yaml
  src/generated/cloud/compute/v1/src/model.rs
  src/generated/cloud/compute/v1/src/model/deserialize.rs
  src/generated/cloud/compute/v1/src/model/serialize.rs
  src/integration-tests/src/compute.rs
Labels: api: compute
