Repository googleapis/google-cloud-rust, pull requests merged in 2025-01, with the labels that each got.

#615 feat(workflows): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/workflows/v1/.sidekick.toml
  src/generated/cloud/workflows/v1/Cargo.toml
  src/generated/cloud/workflows/v1/README.md
  src/generated/cloud/workflows/v1/src/builders.rs
  src/generated/cloud/workflows/v1/src/client.rs
  src/generated/cloud/workflows/v1/src/lib.rs
  src/generated/cloud/workflows/v1/src/model.rs
  src/generated/cloud/workflows/v1/src/tracing.rs
  src/generated/cloud/workflows/v1/src/traits/dyntraits.rs
  src/generated/cloud/workflows/v1/src/traits/mod.rs
  src/generated/cloud/workflows/v1/src/transport.rs
Labels: api: workflows

#668 impl(language): delete GenerateClientRequest
  generator/internal/language/client.go
  generator/internal/sidekick/refresh.go
Labels: api: language

#669 impl(language): remove Codec interface
  generator/internal/language/client.go
  generator/internal/language/codec.go
  generator/internal/language/gotemplate.go
  generator/internal/language/rusttemplate.go
  generator/internal/sidekick/refresh.go
Labels: sidekick

#670 impl(language): unexport unnecessary fields
  generator/internal/language/client.go
  generator/internal/language/codec.go
  generator/internal/language/golang.go
  generator/internal/language/golang_test.go
  generator/internal/language/gotemplate.go
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
Labels: sidekick

#671 impl(language): delete unused Go methods
  generator/internal/language/client.go
  generator/internal/language/golang.go
  generator/internal/language/golang_test.go
  generator/internal/language/gotemplate.go
Labels: api: language

#672 impl(language): delete unused Rust methods
  generator/internal/language/client.go
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
Labels: api: language

#673 impl(language): delete Go codec
  generator/internal/language/client.go
  generator/internal/language/golang.go
  generator/internal/language/golang_test.go
  generator/internal/language/gotemplate.go
Labels: sidekick

#676 impl(language): remove unnecessary dependency on Rust Codec
  generator/internal/language/client.go
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
Labels: api: language

#675 impl(language): rewrite TestRust_EnumNames
  generator/internal/language/rust_test.go
Labels: sidekick

#677 impl(language): convert Rust codec methods to functions
  generator/internal/language/client.go
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
  generator/internal/language/rusttemplate_test.go
Labels: api: language

#695 impl(language): refactor resolveUsedPackages
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
Labels: api: language

#696 impl(language): convert rustCodec.validate to a function
  generator/internal/language/client.go
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
  generator/internal/language/rusttemplate_test.go
Labels: api: language

#708 impl(language): convert rustCodec.addStreamingFeature to a function
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/language/rusttemplate.go
Labels: api: language

#709 impl(language): convert generatedFiles to rustGeneratedFiles
  generator/internal/language/client.go
  generator/internal/language/rust.go
Labels: api: language

#767 feat(kms): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/kms/v1/.sidekick.toml
  src/generated/cloud/kms/v1/Cargo.toml
  src/generated/cloud/kms/v1/README.md
  src/generated/cloud/kms/v1/src/builders.rs
  src/generated/cloud/kms/v1/src/client.rs
  src/generated/cloud/kms/v1/src/lib.rs
  src/generated/cloud/kms/v1/src/model.rs
  src/generated/cloud/kms/v1/src/tracing.rs
  src/generated/cloud/kms/v1/src/traits/dyntraits.rs
  src/generated/cloud/kms/v1/src/traits/mod.rs
  src/generated/cloud/kms/v1/src/transport.rs
Labels: api: cloudkms

#788 feat(run/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/run/v2/.sidekick.toml
  src/generated/cloud/run/v2/Cargo.toml
  src/generated/cloud/run/v2/README.md
  src/generated/cloud/run/v2/src/builders.rs
  src/generated/cloud/run/v2/src/client.rs
  src/generated/cloud/run/v2/src/lib.rs
  src/generated/cloud/run/v2/src/model.rs
  src/generated/cloud/run/v2/src/tracing.rs
  src/generated/cloud/run/v2/src/traits/dyntraits.rs
  src/generated/cloud/run/v2/src/traits/mod.rs
  src/generated/cloud/run/v2/src/transport.rs
Labels: api: run

#791 feat(translate/v3): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/translate/v3/.sidekick.toml
  src/generated/cloud/translate/v3/Cargo.toml
  src/generated/cloud/translate/v3/README.md
  src/generated/cloud/translate/v3/src/builders.rs
  src/generated/cloud/translate/v3/src/client.rs
  src/generated/cloud/translate/v3/src/lib.rs
  src/generated/cloud/translate/v3/src/model.rs
  src/generated/cloud/translate/v3/src/tracing.rs
  src/generated/cloud/translate/v3/src/traits/dyntraits.rs
  src/generated/cloud/translate/v3/src/traits/mod.rs
  src/generated/cloud/translate/v3/src/transport.rs
Labels: api: translate

#790 feat(cloudbuild/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/devtools/cloudbuild/v2/.sidekick.toml
  src/generated/devtools/cloudbuild/v2/Cargo.toml
  src/generated/devtools/cloudbuild/v2/README.md
  src/generated/devtools/cloudbuild/v2/src/builders.rs
  src/generated/devtools/cloudbuild/v2/src/client.rs
  src/generated/devtools/cloudbuild/v2/src/lib.rs
  src/generated/devtools/cloudbuild/v2/src/model.rs
  src/generated/devtools/cloudbuild/v2/src/tracing.rs
  src/generated/devtools/cloudbuild/v2/src/traits/dyntraits.rs
  src/generated/devtools/cloudbuild/v2/src/traits/mod.rs
  src/generated/devtools/cloudbuild/v2/src/transport.rs
Labels: api: cloudbuild

#799 impl(language): delete unused rustMessageName
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
Labels: api: language

#811 impl(sample): consolidate secretmanager testdata
  generator/internal/language/codec_test.go
  generator/internal/language/golang_test.go
  generator/internal/language/rust.go
  generator/internal/language/rust_test.go
  generator/internal/parser/openapi_test.go
  generator/internal/parser/parser_test.go
  generator/internal/parser/protobuf_test.go
  generator/internal/parser/service_config_test.go
  generator/internal/sample/api.go
  generator/internal/sample/sample.go
  generator/internal/sample/serviceconfig.go
  generator/testdata/openapi/secretmanager_openapi_v1.json
Labels: samples

#823 feat(iam/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/iam/v2/.sidekick.toml
  src/generated/iam/v2/Cargo.toml
  src/generated/iam/v2/README.md
  src/generated/iam/v2/src/builders.rs
  src/generated/iam/v2/src/client.rs
  src/generated/iam/v2/src/lib.rs
  src/generated/iam/v2/src/model.rs
  src/generated/iam/v2/src/tracing.rs
  src/generated/iam/v2/src/traits/dyntraits.rs
  src/generated/iam/v2/src/traits/mod.rs
  src/generated/iam/v2/src/transport.rs
Labels: api: iam

#816 feat(functions/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/functions/v2/.sidekick.toml
  src/generated/cloud/functions/v2/Cargo.toml
  src/generated/cloud/functions/v2/README.md
  src/generated/cloud/functions/v2/src/builders.rs
  src/generated/cloud/functions/v2/src/client.rs
  src/generated/cloud/functions/v2/src/lib.rs
  src/generated/cloud/functions/v2/src/model.rs
  src/generated/cloud/functions/v2/src/tracing.rs
  src/generated/cloud/functions/v2/src/traits/dyntraits.rs
  src/generated/cloud/functions/v2/src/traits/mod.rs
  src/generated/cloud/functions/v2/src/transport.rs
Labels: api: cloudfunctions

#836 feat(bigtableadmin/v2): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/bigtable/admin/v2/.sidekick.toml
  src/generated/bigtable/admin/v2/Cargo.toml
  src/generated/bigtable/admin/v2/README.md
  src/generated/bigtable/admin/v2/src/builders.rs
  src/generated/bigtable/admin/v2/src/client.rs
  src/generated/bigtable/admin/v2/src/lib.rs
  src/generated/bigtable/admin/v2/src/model.rs
  src/generated/bigtable/admin/v2/src/tracing.rs
  src/generated/bigtable/admin/v2/src/traits/dyntraits.rs
  src/generated/bigtable/admin/v2/src/traits/mod.rs
  src/generated/bigtable/admin/v2/src/transport.rs
Labels: api: bigtableadmin

#848 feat(scheduler/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/cloud/scheduler/v1/.sidekick.toml
  src/generated/cloud/scheduler/v1/Cargo.toml
  src/generated/cloud/scheduler/v1/README.md
  src/generated/cloud/scheduler/v1/src/builders.rs
  src/generated/cloud/scheduler/v1/src/client.rs
  src/generated/cloud/scheduler/v1/src/lib.rs
  src/generated/cloud/scheduler/v1/src/model.rs
  src/generated/cloud/scheduler/v1/src/tracing.rs
  src/generated/cloud/scheduler/v1/src/traits/dyntraits.rs
  src/generated/cloud/scheduler/v1/src/traits/mod.rs
  src/generated/cloud/scheduler/v1/src/transport.rs
Labels: api: cloudscheduler

#855 feat(language/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/language/v2/.sidekick.toml
  src/generated/cloud/language/v2/Cargo.toml
  src/generated/cloud/language/v2/README.md
  src/generated/cloud/language/v2/src/builders.rs
  src/generated/cloud/language/v2/src/client.rs
  src/generated/cloud/language/v2/src/lib.rs
  src/generated/cloud/language/v2/src/model.rs
  src/generated/cloud/language/v2/src/tracing.rs
  src/generated/cloud/language/v2/src/traits/dyntraits.rs
  src/generated/cloud/language/v2/src/traits/mod.rs
  src/generated/cloud/language/v2/src/transport.rs
Labels: api: language

#854 feat(container/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/container/v1/.sidekick.toml
  src/generated/container/v1/Cargo.toml
  src/generated/container/v1/README.md
  src/generated/container/v1/src/builders.rs
  src/generated/container/v1/src/client.rs
  src/generated/container/v1/src/lib.rs
  src/generated/container/v1/src/model.rs
  src/generated/container/v1/src/tracing.rs
  src/generated/container/v1/src/traits/dyntraits.rs
  src/generated/container/v1/src/traits/mod.rs
  src/generated/container/v1/src/transport.rs
Labels: api: container

#877 feat(identitytoolkit/v2): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/identitytoolkit/v2/.sidekick.toml
  src/generated/cloud/identitytoolkit/v2/Cargo.toml
  src/generated/cloud/identitytoolkit/v2/README.md
  src/generated/cloud/identitytoolkit/v2/src/builders.rs
  src/generated/cloud/identitytoolkit/v2/src/client.rs
  src/generated/cloud/identitytoolkit/v2/src/lib.rs
  src/generated/cloud/identitytoolkit/v2/src/model.rs
  src/generated/cloud/identitytoolkit/v2/src/tracing.rs
  src/generated/cloud/identitytoolkit/v2/src/traits/dyntraits.rs
  src/generated/cloud/identitytoolkit/v2/src/traits/mod.rs
  src/generated/cloud/identitytoolkit/v2/src/transport.rs
Labels: api: identitytoolkit

#880 feat(resourcemanager/v3): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/resourcemanager/v3/.sidekick.toml
  src/generated/cloud/resourcemanager/v3/Cargo.toml
  src/generated/cloud/resourcemanager/v3/README.md
  src/generated/cloud/resourcemanager/v3/src/builders.rs
  src/generated/cloud/resourcemanager/v3/src/client.rs
  src/generated/cloud/resourcemanager/v3/src/lib.rs
  src/generated/cloud/resourcemanager/v3/src/model.rs
  src/generated/cloud/resourcemanager/v3/src/tracing.rs
  src/generated/cloud/resourcemanager/v3/src/traits/dyntraits.rs
  src/generated/cloud/resourcemanager/v3/src/traits/mod.rs
  src/generated/cloud/resourcemanager/v3/src/transport.rs
Labels: api: cloudresourcemanager

#878 feat(cloudbuild/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/devtools/cloudbuild/v1/.sidekick.toml
  src/generated/devtools/cloudbuild/v1/Cargo.toml
  src/generated/devtools/cloudbuild/v1/README.md
  src/generated/devtools/cloudbuild/v1/src/builders.rs
  src/generated/devtools/cloudbuild/v1/src/client.rs
  src/generated/devtools/cloudbuild/v1/src/lib.rs
  src/generated/devtools/cloudbuild/v1/src/model.rs
  src/generated/devtools/cloudbuild/v1/src/tracing.rs
  src/generated/devtools/cloudbuild/v1/src/traits/dyntraits.rs
  src/generated/devtools/cloudbuild/v1/src/traits/mod.rs
  src/generated/devtools/cloudbuild/v1/src/transport.rs
Labels: api: cloudbuild

#906 feat(tasks): generate v2 library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/tasks/v2/.sidekick.toml
  src/generated/cloud/tasks/v2/Cargo.toml
  src/generated/cloud/tasks/v2/README.md
  src/generated/cloud/tasks/v2/src/builders.rs
  src/generated/cloud/tasks/v2/src/client.rs
  src/generated/cloud/tasks/v2/src/lib.rs
  src/generated/cloud/tasks/v2/src/model.rs
  src/generated/cloud/tasks/v2/src/stubs.rs
  src/generated/cloud/tasks/v2/src/stubs/dynamic.rs
  src/generated/cloud/tasks/v2/src/tracing.rs
  src/generated/cloud/tasks/v2/src/transport.rs
Labels: api: cloudtasks

#911 feat(vpcaccess/v1): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/vpcaccess/v1/.sidekick.toml
  src/generated/cloud/vpcaccess/v1/Cargo.toml
  src/generated/cloud/vpcaccess/v1/README.md
  src/generated/cloud/vpcaccess/v1/src/builders.rs
  src/generated/cloud/vpcaccess/v1/src/client.rs
  src/generated/cloud/vpcaccess/v1/src/lib.rs
  src/generated/cloud/vpcaccess/v1/src/model.rs
  src/generated/cloud/vpcaccess/v1/src/stubs.rs
  src/generated/cloud/vpcaccess/v1/src/stubs/dynamic.rs
  src/generated/cloud/vpcaccess/v1/src/tracing.rs
  src/generated/cloud/vpcaccess/v1/src/transport.rs
Labels: api: vpcaccess

#913 cleanup(identitytoolkit/v2): remove library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/identitytoolkit/v2/.sidekick.toml
  src/generated/cloud/identitytoolkit/v2/Cargo.toml
  src/generated/cloud/identitytoolkit/v2/README.md
  src/generated/cloud/identitytoolkit/v2/src/builders.rs
  src/generated/cloud/identitytoolkit/v2/src/client.rs
  src/generated/cloud/identitytoolkit/v2/src/lib.rs
  src/generated/cloud/identitytoolkit/v2/src/model.rs
  src/generated/cloud/identitytoolkit/v2/src/stubs.rs
  src/generated/cloud/identitytoolkit/v2/src/stubs/dynamic.rs
  src/generated/cloud/identitytoolkit/v2/src/tracing.rs
  src/generated/cloud/identitytoolkit/v2/src/transport.rs
Labels: api: identitytoolkit

#916 feat(monitoring/v3): generate library
  Cargo.lock
  Cargo.toml
  src/generated/monitoring/v3/.sidekick.toml
  src/generated/monitoring/v3/Cargo.toml
  src/generated/monitoring/v3/README.md
  src/generated/monitoring/v3/src/builders.rs
  src/generated/monitoring/v3/src/client.rs
  src/generated/monitoring/v3/src/lib.rs
  src/generated/monitoring/v3/src/model.rs
  src/generated/monitoring/v3/src/stubs.rs
  src/generated/monitoring/v3/src/stubs/dynamic.rs
  src/generated/monitoring/v3/src/tracing.rs
  src/generated/monitoring/v3/src/transport.rs
Labels: api: monitoring

#922 feat(serviceusage/v1): generate library
  .typos.toml
  Cargo.lock
  Cargo.toml
  src/generated/api/serviceusage/v1/.sidekick.toml
  src/generated/api/serviceusage/v1/Cargo.toml
  src/generated/api/serviceusage/v1/README.md
  src/generated/api/serviceusage/v1/src/builders.rs
  src/generated/api/serviceusage/v1/src/client.rs
  src/generated/api/serviceusage/v1/src/lib.rs
  src/generated/api/serviceusage/v1/src/model.rs
  src/generated/api/serviceusage/v1/src/stubs.rs
  src/generated/api/serviceusage/v1/src/stubs/dynamic.rs
  src/generated/api/serviceusage/v1/src/tracing.rs
  src/generated/api/serviceusage/v1/src/transport.rs
Labels: api: serviceusage
