Repository googleapis/google-cloud-rust, pull requests merged in 2025-07, with the labels that each got.

#2576 feat(managedkafka/schemaregistry): generate library
  Cargo.lock
  Cargo.toml
  src/generated/cloud/managedkafka/schemaregistry/v1/.repo-metadata.json
  src/generated/cloud/managedkafka/schemaregistry/v1/.sidekick.toml
  src/generated/cloud/managedkafka/schemaregistry/v1/Cargo.toml
  src/generated/cloud/managedkafka/schemaregistry/v1/README.md
  src/generated/cloud/managedkafka/schemaregistry/v1/src/builder.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/client.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/lib.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/model.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/stub.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/stub/dynamic.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/tracing.rs
  src/generated/cloud/managedkafka/schemaregistry/v1/src/transport.rs
Labels: api: managedkafka

#2568 impl(storage): `insert_object()` streaming support
  Cargo.lock
  src/integration-tests/src/storage.rs
  src/storage/Cargo.toml
  src/storage/src/client.rs
  src/storage/src/upload_source.rs
Labels: api: storage

#2582 cleanup(storage): simplify auth headers
  src/storage/src/client.rs
Labels: api: storage

#2590 refactor(storage): rename upload source traits
  src/storage/src/client.rs
  src/storage/src/upload_source.rs
Labels: api: storage

#2602 impl(storage): scaffold for buffered uploads
  src/storage/src/client.rs
  src/storage/src/client/upload_object_buffered.rs
Labels: api: storage

#2603 impl(storage): buffered upload parameters
  Cargo.lock
  Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/client/upload_object_buffered.rs
  src/storage/src/client/upload_object_unbuffered.rs
Labels: api: storage

#2611 impl(storage): checkpoint buffered uploads
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
  src/storage/src/client/upload_object_buffered.rs
Labels: api: storage

#2621 refactor(storage): consolidate upload methods
  src/integration-tests/src/storage.rs
  src/storage/src/client.rs
  src/storage/src/client/upload_object.rs
  src/storage/src/client/upload_object/unbuffered.rs
Labels: api: storage

#2624 docs(storage): samples were reaching production
  src/storage/src/client.rs
  src/storage/src/client/upload_object.rs
  src/storage/src/client/upload_object/unbuffered.rs
Labels: samples, api: storage

#2625 refactor(storage): split upload_object module
  src/storage/src/client/upload_object.rs
  src/storage/src/client/upload_object/buffered.rs
Labels: api: storage

#2646 refactor(storage): export storage-control client,builder,stub
  Cargo.lock
  src/integration-tests/Cargo.toml
  src/integration-tests/src/error_details.rs
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/auto_populated.rs
  src/integration-tests/tests/driver.rs
  src/integration-tests/tests/idempotency.rs
  src/storage-control/Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/client.rs
  src/storage/src/lib.rs
  src/storage/tests/mocking.rs
Labels: api: storage

#2645 impl(storage): retry resumable sessions
  src/storage/src/client.rs
  src/storage/src/client/upload_object.rs
Labels: api: storage

#2654 cleanup(storage): hide generated implementation details
  generator/internal/rust/annotate.go
  generator/internal/rust/annotate_test.go
  generator/internal/rust/codec.go
  generator/internal/rust/templates/common/message.mustache
  src/storage/src/control.rs
  src/storage/src/control/generated/gapic/.sidekick.toml
  src/storage/src/control/generated/gapic/model.rs
  src/storage/src/lib.rs
Labels: api: storage

#2656 impl(storage): per-request options
  src/storage/src/storage.rs
  src/storage/src/storage/client.rs
  src/storage/src/storage/request_options.rs
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_object/unbuffered.rs
Labels: api: storage

#2663 refactor(storage): move generated directory
  src/storage/src/control.rs
  src/storage/src/control/client.rs
  src/storage/src/control/convert.rs
  src/storage/src/control/stub.rs
  src/storage/src/generated.rs
  src/storage/src/generated/convert/control/.sidekick.toml
  src/storage/src/generated/convert/control/convert.rs
  src/storage/src/generated/convert/iam/.sidekick.toml
  src/storage/src/generated/convert/iam/convert.rs
  src/storage/src/generated/convert/longrunning/.sidekick.toml
  src/storage/src/generated/convert/longrunning/convert.rs
  src/storage/src/generated/convert/storage/.sidekick.toml
  src/storage/src/generated/convert/storage/convert.rs
  src/storage/src/generated/convert/type/.sidekick.toml
  src/storage/src/generated/convert/type/convert.rs
  src/storage/src/generated/gapic/.sidekick.toml
  src/storage/src/generated/gapic/builder.rs
  src/storage/src/generated/gapic/client.rs
  src/storage/src/generated/gapic/mod.rs
  src/storage/src/generated/gapic/model.rs
  src/storage/src/generated/gapic/stub.rs
  src/storage/src/generated/gapic/stub/dynamic.rs
  src/storage/src/generated/gapic/tracing.rs
  src/storage/src/generated/gapic/transport.rs
  src/storage/src/generated/gapic_control/.sidekick.toml
  src/storage/src/generated/gapic_control/builder.rs
  src/storage/src/generated/gapic_control/client.rs
  src/storage/src/generated/gapic_control/mod.rs
  src/storage/src/generated/gapic_control/model.rs
  src/storage/src/generated/gapic_control/stub.rs
  src/storage/src/generated/gapic_control/stub/dynamic.rs
  src/storage/src/generated/gapic_control/tracing.rs
  src/storage/src/generated/gapic_control/transport.rs
  src/storage/src/generated/protos/control/.sidekick.toml
  src/storage/src/generated/protos/control/Cargo.toml
  src/storage/src/generated/protos/control/build.rs
  src/storage/src/generated/protos/control/google.api.rs
  src/storage/src/generated/protos/control/google.longrunning.rs
  src/storage/src/generated/protos/control/google.rpc.rs
  src/storage/src/generated/protos/control/google.storage.control.v2.rs
  src/storage/src/generated/protos/control/src/lib.rs
  src/storage/src/generated/protos/storage/.sidekick.toml
  src/storage/src/generated/protos/storage/Cargo.toml
  src/storage/src/generated/protos/storage/build.rs
  src/storage/src/generated/protos/storage/google.api.rs
  src/storage/src/generated/protos/storage/google.iam.v1.rs
  src/storage/src/generated/protos/storage/google.r#type.rs
  src/storage/src/generated/protos/storage/google.rpc.rs
  src/storage/src/generated/protos/storage/google.storage.v2.rs
  src/storage/src/generated/protos/storage/src/lib.rs
  src/storage/src/lib.rs
Labels: api: storage

#2664 impl(storage): only use `WriteObjectSpec`
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_object/unbuffered.rs
Labels: api: storage

#2680 impl(storage): prepare for preview release
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/README.md
  src/storage/src/lib.rs
Labels: api: storage

#2705 impl(storage): resumable upload size options
  src/storage/src/storage/client.rs
  src/storage/src/storage/request_options.rs
  src/storage/src/storage/upload_object.rs
Labels: api: storage

#2717 feat(bigquery/v2): generate job service client
  src/generated/cloud/bigquery/v2/.sidekick.toml
  src/generated/cloud/bigquery/v2/README.md
  src/generated/cloud/bigquery/v2/src/builder.rs
  src/generated/cloud/bigquery/v2/src/client.rs
  src/generated/cloud/bigquery/v2/src/lib.rs
  src/generated/cloud/bigquery/v2/src/model.rs
  src/generated/cloud/bigquery/v2/src/stub.rs
  src/generated/cloud/bigquery/v2/src/stub/dynamic.rs
  src/generated/cloud/bigquery/v2/src/tracing.rs
  src/generated/cloud/bigquery/v2/src/transport.rs
Labels: api: bigquery

#2724 impl(storage): better upload for tokio files
  src/storage/src/storage/upload_source.rs
Labels: api: storage

#2726 refactor(storage): move upload progress parser
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_object/buffered.rs
Labels: api: storage

#2727 refactor(storage): move test helper
  src/storage/src/storage/upload_object/buffered.rs
  src/storage/src/storage/upload_source.rs
Labels: api: storage

#2731 cleanup(storage): relink TODO items
  src/storage/src/storage/upload_object/buffered.rs
  src/storage/src/storage/upload_object/unbuffered.rs
Labels: api: storage

#2739 cleanup(storage): less unwrapping
  src/storage/src/storage/upload_object/unbuffered.rs
Labels: api: storage

#2750 refactor(storage): move `query_resumable_upload()`
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_object/unbuffered.rs
Labels: api: storage

#2757 ci(storage): sidekick owns control stub
  generator/internal/rust/templates/storage/mod.rs.mustache
  generator/internal/rust/templates/storage/stub.rs.mustache
  src/storage/src/control.rs
  src/storage/src/control/generated/mod.rs
  src/storage/src/control/generated/stub.rs
Labels: api: storage

#2758 refactor(storage): move retry mocks
  src/storage/src/storage/client.rs
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_object/buffered/resumable_tests.rs
Labels: api: storage

#2759 impl(storage): `read_object()` retries at start
  src/storage/src/storage/read_object.rs
  src/storage/src/storage/read_object/resume_tests.rs
  src/storage/src/storage/upload_object.rs
Labels: api: storage

#2764 impl(storage): use `next()` for `all_bytes()`
  src/storage/src/storage/read_object.rs
Labels: api: storage

#2766 impl(storage): introduce resume policies
  src/storage/src/download_resume_policy.rs
  src/storage/src/lib.rs
Labels: api: storage

#2773 test(storage): aborted uploads integration tests
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
Labels: api: storage

#2772 docs(storage): show how to terminate uploads
  guide/samples/tests/storage.rs
  guide/samples/tests/storage/terminate_uploads.rs
  guide/src/SUMMARY.md
  guide/src/storage/terminate_uploads.md
Labels: api: storage

#2774 impl(storage): use download resume policies
  src/storage/src/download_resume_policy.rs
  src/storage/src/storage/client.rs
  src/storage/src/storage/read_object.rs
  src/storage/src/storage/read_object/resume_tests.rs
  src/storage/src/storage/request_options.rs
Labels: api: storage

#2779 refactor(storage): `UploadObject` is a builder
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_object/buffered.rs
  src/storage/src/storage/upload_object/buffered/resumable_tests.rs
  src/storage/src/storage/upload_object/unbuffered.rs
Labels: api: storage

#2781 refactor(storage): move `PerformUpload`
  src/storage/src/storage.rs
  src/storage/src/storage/perform_upload.rs
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/perform_upload/buffered/progress.rs
  src/storage/src/storage/perform_upload/buffered/resumable_tests.rs
  src/storage/src/storage/perform_upload/tests.rs
  src/storage/src/storage/perform_upload/unbuffered.rs
  src/storage/src/storage/perform_upload/unbuffered/resumable_tests.rs
  src/storage/src/storage/upload_object.rs
Labels: api: storage

#2685 feat(storage): add method to retrieve object metadata
  src/integration-tests/src/storage.rs
  src/storage/src/storage/read_object.rs
Labels: api: storage

#2790 impl(storage): compare final checksums on upload
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
  src/storage/src/storage/checksum.rs
  src/storage/src/storage/perform_upload.rs
  src/storage/src/storage/perform_upload/buffered.rs
  src/storage/src/storage/perform_upload/tests.rs
  src/storage/src/storage/perform_upload/tests/checksums.rs
  src/storage/src/storage/perform_upload/unbuffered.rs
  src/storage/src/storage/upload_object.rs
Labels: api: storage

#2795 docs(storage): fix documentation nits
  src/storage/src/backoff_policy.rs
  src/storage/src/download_resume_policy.rs
  src/storage/src/lib.rs
  src/storage/src/retry_policy.rs
  src/storage/src/storage/read_object.rs
  src/storage/src/storage/upload_object.rs
  src/storage/src/storage/upload_source.rs
Labels: api: storage

#2789 impl(storage): make error types public
  src/storage/src/lib.rs
  src/storage/src/storage.rs
  src/storage/src/storage/checksum.rs
Labels: api: storage

#2799 cleanup(storage): restore `dead_code` warnings
  src/storage/src/storage.rs
Labels: api: storage

#2794 feat(storage): add more fields to ObjectHighlights
  src/integration-tests/src/storage.rs
  src/storage/src/storage/read_object.rs
Labels: api: storage
