Repository googleapis/google-cloud-rust, pull requests merged in 2025-06, with the labels that each got.

#2363 cleanup(storage): use Some not Option::Some
  src/storage/src/client.rs
Labels: api: storage

#2369 test(storage): add tests for Storage::insert_object
  src/storage/src/client.rs
Labels: api: storage

#2354 fix(storage): support customer supplied encryption key
  Cargo.lock
  Cargo.toml
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
  src/storage/Cargo.toml
  src/storage/src/client.rs
Labels: api: storage

#2386 impl(storage): prefer `Error::binding()`
  src/storage/src/client.rs
Labels: api: storage

#2388 fix(storage): use new type KeyAes256 for customer supplied encryption key
  Cargo.lock
  src/integration-tests/src/storage.rs
  src/storage/Cargo.toml
  src/storage/src/client.rs
Labels: api: storage

#2404 feat(storage): support read ranges in Storage::read_object
  src/storage/src/client.rs
Labels: api: storage

#2434 impl(storage): move v1 module to its own file
  src/storage/src/client.rs
  src/storage/src/client/v1.rs
  src/storage/src/lib.rs
Labels: api: storage

#2437 cleanup(storage): prefer `Error::ser`
  src/storage/src/client.rs
Labels: api: storage

#2465 impl(workflows/v1): use generated `serde`
  src/generated/cloud/workflows/v1/.sidekick.toml
  src/generated/cloud/workflows/v1/src/model.rs
Labels: api: workflows

#2470 impl(sql/v1): use generated `serde`
  src/generated/cloud/sql/v1/.sidekick.toml
  src/generated/cloud/sql/v1/src/model.rs
Labels: api: cloudsql

#2463 impl(dialogflow/cx/v3): use generated `serde`
  src/generated/cloud/dialogflow/cx/v3/.sidekick.toml
  src/generated/cloud/dialogflow/cx/v3/src/model.rs
Labels: api: dialogflow

#2464 impl(dialogflow/v2): use generated `serde`
  src/generated/cloud/dialogflow/v2/.sidekick.toml
  src/generated/cloud/dialogflow/v2/src/model.rs
Labels: api: dialogflow

#2475 impl(orgpolicy/v1): use generated `serde`
  src/generated/cloud/orgpolicy/v1/.sidekick.toml
  src/generated/cloud/orgpolicy/v1/src/model.rs
Labels: api: orgpolicy

#2477 impl(servicecontrol/v2): use generated `serde`
  src/generated/api/servicecontrol/v2/.sidekick.toml
  src/generated/api/servicecontrol/v2/src/model.rs
Labels: api: servicecontrol

#2505 cleanup(generator): correct sample API
  generator/internal/dart/dart_test.go
  generator/internal/language/codec_test.go
  generator/internal/parser/openapi_test.go
  generator/internal/sample/api.go
Labels: samples

#2531 impl(storage): implement source for uploads
  Cargo.lock
  src/storage/Cargo.toml
  src/storage/src/lib.rs
  src/storage/src/upload_source.rs
Labels: api: storage

#2546 test(storage): use a larger file for chunking read
  src/integration-tests/src/storage.rs
  src/integration-tests/tests/driver.rs
Labels: api: storage
